[2017-03-16 12:54] magnolia61 opened #2 "404 for fonts"
I'm getting 404's for
sites/all/modules/civicrm_extensions/org.civicrm.shoreditch/fonts/fontawesome-webfont.woff
sites/all/modules/civicrm_extensions/org.civicrm.shoreditch/fonts/fontawesome-webfont.ttf
sites/all/modules/civicrm_extensions/org.civicrm.shoreditch/fonts/fontawesome-webfont.woff2
sites/all/modules/civicrm_extensions/org.civicrm.shoreditch/fonts/fontawesome-webfont.eot
sites/all/modul

[2017-03-16 19:10] xurizaemon commented on #2
* What path are your extensions located in?
* What is the civicrm resource URL?

These are in your civicrm admin settings under Directories and URLS pages.

[2017-03-16 19:12] xurizaemon commented on #2
Ah, is it the /fontt-awesome/ that's missing or another part of the URL that's wrong?

[2017-03-22 16:29] magnolia61 commented on #2
My extensions are in: [cms.root]/sites/all/modules/civicrm_extensions/
and my CiviCRM resource url is: [cms.root]/sites/all/modules/civicrm/

The fonts are in fonts/font-awesome/
but the extension seems to be looking only in /fonts

[2017-03-22 22:13] totten commented on #2
@magnolia61 , thanks for reporting. Can you double-check that you have the current release `v0.1-alpha2`? The difference between `v0.1-alpha1` and `v0.1-alpha2` is in the handling of font-awesome.

As quick way to check, you might run `md5sum  css/bootstrap.css`
 * `v0.1-alpha1`: ef27fcdd26b70b4e4368584c617f442c
 * `v0.1-alpha2`: 77f9c5a6a31ec80b675fccb5e7ede740

[2017-03-27 12:49] tttp opened #3 "is is possible to leave bootstrap to the theme?"
Hi,
For what I understand, this extension bundles both
- bootstrap css+js
- civi specific changes to make it play nicely with bootstrap

As most of our themes are already including bootstrap, is there a way to only include the later?

[2017-03-27 20:12] totten commented on #3
## tldr

You can probably use other Bootstrap-compliant extensions (such as Mosaico 2.x) without Shoreditch, but there are follow-up questions in this scenario, like:

 1. How does one customize `civicrm.css` with other themes?
 2. How does one load the JS files with other themes?

## General Architecture

I've found it helpful to talk about theming along these lines:

 * _Look and Feel_: This is

[2017-03-27 20:18] totten commented on #3
Another good person to comment on this is @AkA84.

[2017-03-27 20:29] xurizaemon commented on #3
Thanks Tim, that's really helpful. Hope to follow this up with informed feedback once we've given it a spin.

[2017-03-27 20:50] gah242s commented on #3
Is Backbone.js a current monkey-wrench or does this allow for side-stepping the issue?  Or does it not even play into this scenario?  (https://issues.civicrm.org/jira/browse/CRM-17352)  Selfishly, I'm hoping it's a monkey wrench because of the large-ish amount of WordPress theme/plugin problems.

[2017-03-27 21:02] totten commented on #3
IMHO, Backbone.js should be treated as orthogonal to CSS. (Technically speaking, any permutation of `{BackboneJS,AngularJS,EmberJS} x {BootstrapCSS,crm-*}` is conceivable -- although obviously one might go insane if they actually worked with every permutation continuously.)

CRM-17352 sounds like a legit-but-separate issue.

[2017-03-27 21:18] nganivet commented on #3
Tim - great write-up, this ought to be transferred to an 'architecture' chapter in the developer documentation so we all work from the same notions/vocabulary.

[2017-04-07 02:58] colemanw commented on #2
I think this is resolved. I'm no longer seeing the errors on mine.

[2017-04-07 02:58] #2 closed

[2017-07-11 22:07] colemanw opened #24 "Strangely styled panels"
This line of css makes panels look odd:
[code]
What is the reason for this extra space between the panel header and the panel content?

[2017-07-12 09:30] AkA84 commented on #24
@colemanw not sure what you mean by odd, please add a screenshot to clarify

Anyway the `margin-bottom` is there because panels with contextual classes (`.panel-primary`, `.panel-success`, etc) have floating headings

<img width="500" alt="floating-heading" src="https://user-images.githubusercontent.com/6400898/28111310-5f45930a-66f5-11e7-852b-dd78f448357e.png">

As opposed to default panels (`.pa

[2017-07-12 15:38] colemanw commented on #24
@AkA84  Yes that is the problem. Panels with contextual classes are forced to have floating headings by the Shoreditch Theme. This is not standard bootstrap behavior.

I recommend you add a new panel-floating-heading class instead of forcing this on all panels.

[2017-07-12 15:54] colemanw commented on #24
Here's my problem. Trying to do a simple layout for the new Api4 Explorer using standard bootstrap styles:
![explorer](https://user-images.githubusercontent.com/2874912/28126799-94d4b502-66f8-11e7-88ca-2c978afff926.png)

I had to override the strange header styling to get all the panels to align correctly (the blue ones had extra spacing). I don't think I ought to have to do that. Again, if you wa

[2017-07-13 07:40] AkA84 commented on #24
@colemanw it really depends on how we want the theme to look, i don't think it really matters whether the look is standard bootstrap or not: the component is indeed standard bootstrap, it's just the look of the component that is customized

The theme has been designed (as seen also in the styleguide) to have floating headers for all contextual panels, so that means that you (or whoever designed th

[2017-07-13 22:29] jeffcapeshop commented on #3
Hi - I wanted to try this out but i have to confess to being a little confused as to how to get it working - if it applies only with id="bootstrap-theme", what creates that markup? is there a specific/default theme?
Thanks!

[2017-07-17 07:56] AkA84 commented on #3
@jeffcapeshop well the bootstrap theme is supposed to be used in new pages, so when you create a new page (for example of an extension that you are writing) you will write the markup contained in an element with `[id="bootstrap-theme"]` and the theme will be applied automatically
[code]

[2017-07-17 14:58] jeffcapeshop commented on #3
@AkA84 and what about the core theme? if i use custom-civicrm.css option, it only matches visually if i use the Seven admin theme, not bootstrap. What is the expected setup to use this with core?

Thanks

[2017-07-18 07:12] AkA84 commented on #3
@jeffcapeshop

Can you show me with a couple of screenshots what you mean?

Currently we are testing the theme only with Seven, not with other themes

[2017-07-20 14:11] christianwach opened #27 "FontAwesome not rendering"
[The CSS file](https://github.com/civicrm/org.civicrm.shoreditch/blob/master/css/custom-civicrm.css) generated from the SCSS contains a number of instances of `content:""` which Chrome interprets as `content: "ï†"` causing the checkbox replacements not to render on any CiviCRM admin pages.

![screen shot 2017-07-20 at 15 09 57](https://user-images.githubusercontent.com/726936/28421614-98f04dac-6

[2017-07-21 10:26] AkA84 commented on #27
@christianwach what page is that screenshot from? Could you tell me what branch you are using of shoreditch and how you enabled the theme? Thanks!

[2017-07-21 10:52] christianwach commented on #27
@AkA84 I'm using `master` - the page that the screenshot is from isn't important really (it's the CiviMail Settings page FWIW) it is just an illustration of what I see everywhere that a checkbox should be. It looks to me as though the `content` elements aren't surviving SCSS compilation and are rendering as UTF-8 glyphs in the CSS. Perhaps there's a text encoding problem with the final 'custom-civ

[2017-07-21 10:56] christianwach commented on #27
@AkA84 Compare, for example, the [declarations for radio buttons and checkboxes](https://github.com/civicrm/org.civicrm.shoreditch/blob/master/scss/civicrm/common/_radio-checkbox.scss#L20-L38) and the final output in the CSS file - hard to reference here as it's all on one line, but search for `content:"` in [the CSS file](https://github.com/civicrm/org.civicrm.shoreditch/blob/master/css/custom-ci

[2017-07-21 10:57] christianwach commented on #27
The standard way, via 'Settings - Resource URLs'

[2017-07-26 14:03] christianwach opened #28 "Visual Roadmap?"
Is there a visual roadmap for this extension? What I'm interested in are mockups of existing CiviCRM screens that have been fully styled - whether in code or the output of an image editor. I can't seem to visualise the relationship between screen elements from the Bootstrap elements as shown by the [Style Guide](https://github.com/civicrm/org.civicrm.styleguide/).

[2017-08-05 20:34] KarinG opened #30 "View Payments -> renders a new page"
Normally we get this [hit the arrow and the Payment details show up underneath]

![image](https://user-images.githubusercontent.com/5340555/28998545-e86df142-79ea-11e7-8c37-806dbf83167f.png)

In shoreditch: when I click on the arrow to see the Payment details:
![image](https://user-images.githubusercontent.com/5340555/28998552-06c6603e-79eb-11e7-9e8c-f6d459926f96.png)

I get bumped to a new page:

[2017-08-05 20:41] KarinG commented on #30
Ah - my bad - comparing apples and oranges; it's a little mangled on a contact/view -> Contributions tab - but the accordion is working:

![image](https://user-images.githubusercontent.com/5340555/28998570-d9212dca-79eb-11e7-8321-acdbd3e87ad8.png)

Awesome!

[2017-08-05 20:47] KarinG commented on #30
Actually - let me leave this issue open - as it I've confirmed it is an issue from the Contributions -> Dashboard screen; i.e. hitting the arrow to view payment details opens up a new page instead an accordion

[2017-09-02 20:03] seanmadsen opened #38 "Thoughts and frustrations about Shoreditch"
I have been playing with Shoreditch and I want to share some of my thoughts. I'm new to Shoreditch _and_ new to Bootstrap. So I apologize in advance if these thoughts are misguided. At the very least I acknowledge that they're not sufficiently actionable and succinct to produce a good ticket. But this stuff has been on my mind a while and I wanted to share it somewhere...

## Summary

First of all

[2017-09-02 20:05] seanmadsen opened #39 "Use class instead of id for `bootstrap-theme`"
I find it a bit odd that I need to set `id="bootstrap-theme"` to use Shoreditch. I would expect this to be `class="bootstrap-theme"`. Was the choice to use `id` intentional? If so why?

[2017-09-02 20:07] MegaphoneJon commented on #38
Just a quick flag that support for extension dependencies is getting a lot of attention these past two weeks, and is a priority for many people, so I think we can expect it to land before Shoreditch becomes final.  That may change your feelings on a bunch of this!

[2017-09-02 20:08] seanmadsen commented on #38
It's true, better support for extension dependencies would help!

[2017-09-02 20:12] seanmadsen opened #40 "Use a shadow behind the CiviCRM menu"
I like the clean white look of the CiviCRM menu when using `custom-civicrm.css`, but after I scroll the page, the menu blends into the page. Example:

![screenshot-3](https://user-images.githubusercontent.com/42411/29998460-a68c62e0-8fe8-11e7-9da6-57ccc073d849.png)

At this point, it's not immediately apparent what is "menu" and what is "page". I suggest using a shadow  behind the menu to separate

[2017-09-02 20:28] seanmadsen opened #41 "Bootstrap 4?"
I've been learning a bit about Bootstrap recently. Here are some **conclusions and assumptions** I've drawn from my recent adventures with Bootstrap and Shoreditch:

* Shoreditch uses Bootstrap 3, but doesn't make this fact to clear to developers
* Bootstrap 4 is in public beta with a stable release being imminent and the official website now offering Bootstrap 4 downloads/docs by default
* Bootst

[2017-09-02 20:32] seanmadsen opened #42 "Body class for custom-civicrm.css?"
I'm writing an extension using `crm-*` markup and I'd like it to look good with or without `custom-civicrm.css` from Shoreditch. But it's a little hard for me style it *one way* which looks great in both cases. Is there a way I can detect when the Shoreditch `custom-civicrm.css` is turned on, ideally with CSS? I think it'd be neat to have something like `.shoreditch` on `<body>` for this purpose.

[2017-09-02 21:30] christianwach commented on #42
I test for Shoreditch in my CiviCRM Admin Utilities plugin and load different CSS files depending on whether the Shoreditch CSS file is active or not. [Have a look ay my code here](https://github.com/christianwach/civicrm-admin-utilities/blob/master/civicrm-admin-utilities.php#L225-L244). Hope this helps :)

[2017-09-03 18:03] colemanw commented on #39
:+1: for this request. Using an id means only one region of the page can be themed with bootstrap.

[2017-09-07 09:24] mattwire opened #47 "nodejs version 5 no longer maintained"
Unfortunately nodejs v5 is no longer maintained.  The recommendation is to move to either nodejs v4 (LTS) or nodejs v6.  We are having issues with buildkit/buildkit derived tools needing updated versions of nodejs and being forced to use v5 because of shoreditch.

I see in the build notes:
"First of all you need NodeJS. Please be aware that currently Shoreditch does not support NodeJS v6 or higher

[2017-09-11 21:43] totten commented on #41
+1 for referring to things as "Bootstrap 3" to remove ambiguity.

IMHO, for PHP code we have some obligation to chase recent versions as a matter of security. However, for JS and (S)CSS, it's quite reasonable to stay on an older library for a few years. We still get the benefit of a larger community-of-practice and existing documentation.

[2017-09-12 12:54] AkA84 commented on #47
@mattwire unfortunately the SASS for the custom-civicrm.css stylesheet (that styles the core screens) had been written making an extensive use of the SASS `@extend` directive, which is [known](https://www.sitepoint.com/avoid-sass-extend/) to be quite problematic.

When most of the initial stylesheet was written, it was done so using the node-sass v3.4.2 npm package, which processed `@extend` in a

[2017-09-12 12:56] AkA84 commented on #39
I would have liked to use the class as well, but unfortunately the theme needs an id for the namespace, so that you can be sure that it takes precedence over any other styles (the id having a bigger weight than a class)

[2017-09-13 12:18] AkA84 commented on #42
@seanmadsen can you give me more details on why it's difficult to make it look good with *and* without `custom-civicrm.css`?

[2017-09-13 12:19] AkA84 commented on #41
We'll update the README to explicitly say that this is a bootstrap3 theme

[2017-09-14 08:07] artfulrobot opened #56 "Accessibility: Adjust colours to meet at least WCAG AA"
----------------

I found it hard to read text in the Shoreditch theme. My eyes are not bad and I have a properly colour managed and reasonably accurate monitor that covers the full sRGB gammut. Most users have v poor screens (less contrast) and of course many people are visually impared. CiviCRM needs to be a CRM for everyone, not just those with fantastic eyesight and fancy monitors :-)

Accordi

[2017-09-14 08:19] AkA84 commented on #56
@artfulrobot thank you for opening this issue. I wanted to clarify if you saw this problem across the board or only with specific elements (for example i think the element in your screenshot is the [alert](https://getbootstrap.com/docs/3.3/components/#alerts)), and if so, which ones?

[2017-09-22 06:18] agileware-ploy opened #58 "CIVUP-38 Search button styling not consistent throughout the Shoreditch theme"
Agileware are happy to work on this issue. Please let us know if anyone on your team is currently working on it so we do not duplicate our efforts.

On Find Participants page, Search buttons appear in both old and new style.

![find_participants___button](https://user-images.githubusercontent.com/32181595/30731525-3626e196-9fb1-11e7-8079-3ba5227b24e2.png)

On Full-text Search page, Find Mailings a

[2017-09-22 06:22] agileware-ploy opened #59 "CIVUP-39 Contact overview information on the Summary tab displaying in wrong position."
Agileware are happy to work on this issue. Please let us know if anyone on your team is currently working on it so we do not duplicate our efforts.

**Summary tab**
Contact summary is displayed in wrong position, it appears in the bottom of the page, which is not consistent with other tabs. The details of other tabs are displayed on the right hand side.

![contact_summary](https://user-images.gith

[2017-09-22 06:25] agileware-ploy opened #60 "CIVUP-40 Table on the Activities tab not displaying properly, blank space appears on the right side"
Agileware are happy to work on this issue. Please let us know if anyone on your team is currently working on it so we do not duplicate our efforts.

When go to the contact record and navigate to activity tab, the screen below appears. The table not displaying properly, blank space appears on the right hand side.

![activities_tab](https://user-images.githubusercontent.com/32181595/30731756-a4a8bd0

[2017-09-22 06:30] agileware-ploy opened #61 "CIVUP-41 The pop up block on the Activity tab not displaying correctly"
Agileware are happy to work on this issue. Please let us know if anyone on your team is currently working on it so we do not duplicate our efforts.

1. When clicking on more options menu (⋮), the pop up menu block appears behind the next line. Please see screenshot.

![activity_-_menu_overlap](https://user-images.githubusercontent.com/32181595/30731833-1431a1c8-9fb3-11e7-8197-3f9d257516df.png)

2.

[2017-09-22 06:32] agileware-ploy opened #62 "CIVUP-42 View details link is not clickable on the Contributions dashboard"
Agileware are happy to work on this issue. Please let us know if anyone on your team is currently working on it so we do not duplicate our efforts.

When go to the Contributions dashboard and choose Table layout, view details link is not clickable.

![civicontribute](https://user-images.githubusercontent.com/32181595/30731918-78e7a298-9fb3-11e7-997f-681a052d8b38.png)

[2017-09-22 06:33] agileware-ploy opened #63 "CIVUP-43 Pop up contact information box not displaying correctly on Find Contributions page"
Agileware are happy to work on this issue. Please let us know if anyone on your team is currently working on it so we do not duplicate our efforts.

When hover on the individual icon on Find Contribution page, the pop up box not displaying properly. The background is not full fill the whole box. It is also hard to see the text because the text colour and background colour do not contrast enough.

[2017-09-22 06:35] agileware-ploy opened #64 "CIVUP-44 When clicking on the more ( ⋮ ) button on Event dashboards, the menu box overlaps and appears behind text."
Agileware are happy to work on this issue. Please let us know if anyone on your team is currently working on it so we do not duplicate our efforts.

When go to the Event dashboards and clicking on the more button in Event summary section, the menu box overlaps and appears behind text.

![civievent](https://user-images.githubusercontent.com/32181595/30732028-eebb7d0a-9fb3-11e7-86e4-1ed01ed3024a.png

[2017-09-22 06:37] agileware-ploy opened #65 "CIVUP-45 The radio button not displaying correctly in Edit Search Criteria section on Find participants page"
Agileware are happy to work on this issue. Please let us know if anyone on your team is currently working on it so we do not duplicate our efforts.

On Find participants page, criteria text and the 2nd radio button not displaying properly. Cannot see the text at all from the 2nd radio button.

![find_participants_-_radiobutton](https://user-images.githubusercontent.com/32181595/30732086-2c60483e-9

[2017-09-22 06:39] agileware-ploy opened #66 "CIVUP-46 The individual, organisation and household icon on Find participants page does not pop up a contact summary box"
Agileware are happy to work on this issue. Please let us know if anyone on your team is currently working on it so we do not duplicate our efforts.

1. The individual, organisation and household icon on Find participants page does not pop up a contact summary box.
2. The icon style on Find participants page (left) does not consistent with other pages (right).
![icon-1](https://user-images.githubus

[2017-09-22 06:43] agileware-ploy opened #67 "CIVUP-47 Add Event button, New Mailing button and New SMS button overlap with text"
Agileware are happy to work on this issue. Please let us know if anyone on your team is currently working on it so we do not duplicate our efforts.

Add Event button overlaps with alphabetical filter.

![manage_events](https://user-images.githubusercontent.com/32181595/30732229-e3bac81a-9fb4-11e7-8ba9-032dd88a5b22.png)

New Mailing button and New SMS overlaps with text

![find_mailings](https://us

[2017-09-22 06:46] agileware-ploy opened #68 "CIVUP-48 Huge amount of space between checkbox and its label under Fees and Tell a Friend tab on Configure Event page"
Agileware are happy to work on this issue. Please let us know if anyone on your team is currently working on it so we do not duplicate our efforts.

There is huge amount of space between checkbox and its label under Fees and Tell a Friend tab on Configure Event page.

1. **Fee** -  The checkbox and label for Enable Pay Later option are apart from each other. The alignment of text is not consistent

[2017-09-22 06:48] agileware-ploy opened #69 "CIVUP-49 Inconsistent text alignment on New Schedule Reminder pop up window"
Agileware are happy to work on this issue. Please let us know if anyone on your team is currently working on it so we do not duplicate our efforts.

Under the Schedule reminders tab on Configuration Event page, when click Add Reminder, the alignment of text is inconsistent on the New Schedule Reminder pop up window.

![configure_event_-_textalignment](https://user-images.githubusercontent.com/3218

[2017-09-22 06:50] agileware-ploy opened #70 "CIVUP-50 Help icon appears behind the blue background on Create new mailing screen"
Agileware are happy to work on this issue. Please let us know if anyone on your team is currently working on it so we do not duplicate our efforts.

Help icon on Create new mailing screen appears behind the blue background

![mailing](https://user-images.githubusercontent.com/32181595/30732476-1828af08-9fb6-11e7-833c-caf2565e6484.png)

[2017-09-22 06:52] agileware-ploy opened #71 "CIVUP-51 When creating New Membership type, the selected radio button not displaying properly"
Agileware are happy to work on this issue. Please let us know if anyone on your team is currently working on it so we do not duplicate our efforts.

When creating New Membership type, the selected radio button of Auto-renew Option not displaying properly. Please see screenshot.

![radio_button_-_membership_types](https://user-images.githubusercontent.com/32181595/30732525-509d2df0-9fb6-11e7-9bf3-f

[2017-09-22 06:55] agileware-ploy opened #72 "CIVUP-52 Left column under Filters tab on Reports page is too narrow, forcing the text to appear in different lines"
Agileware are happy to work on this issue. Please let us know if anyone on your team is currently working on it so we do not duplicate our efforts.

When view the report results, left column under Filters tab is too narrow, forcing the text to appear in different lines.

![filters_column](https://user-images.githubusercontent.com/32181595/30732580-9d258096-9fb6-11e7-91e1-6f9d28761a2a.png)

[2017-09-22 06:56] agileware-ploy opened #73 "CIVUP-53 Cancel button on New Credit Card Contribution page is not aligned properly"
Agileware are happy to work on this issue. Please let us know if anyone on your team is currently working on it so we do not duplicate our efforts.

When navigate to New Contribution and click Submit Credit Card Contribution button, New Credit Card Contribution screen will be displayed. On this page, the cancel button is not aligned properly.

![new_credit_card_contribution___canberra_all_stars](h

[2017-09-25 15:40] colemanw opened #74 "enable-select2.js is too aggressive"
Some selects were never intended to be Select2 and `enable-select2.js` breaks them. For example, `jquery.crmIconPicker.js` doesn't work properly.

I don't understand the rationale for this file. Why do we need to globally force this behavior? Making a select2 is very easy in CiviCRM, all you need to do is add the css class "crm-select2" to it (or in angular, the property `crm-ui-select`) and you'r

[2017-09-28 19:06] KarinG opened #75 "Manage Contribution Page is missing words"
Top: w/ adminimal_theme
Bottom: w/ shoreditch

Missing: Configure; Contributions; Links and more

![image](https://user-images.githubusercontent.com/5340555/30985478-3ee6d816-a45e-11e7-9230-3854a7ca9057.png)

[2017-10-01 18:34] herbdool opened #76 "Scrollbars appear on every table cell of list of Extensions"
On the Extensions page:

![selection_007](https://user-images.githubusercontent.com/1071483/31057721-7e2250f6-a6b5-11e7-9c31-71de3bc4bab8.png)

The scrollbars take up a lot of space and are useless.

[2017-10-02 22:01] eruraindil opened #77 "Old style checkboxes don't show up on slower computers"
Observed in latest versions of Chrome & FF on Windows.

It is especially noticeable in the merge contact screen. Also happens on the search results, but triggering a DOM update causes the checkboxes to appear, which makes me think it's related to the mutation observer in js/radio-checkbox.js.

On slower computers the checkboxes don't appear.
![image](https://user-images.githubusercontent.com/23365

[2017-10-03 21:19] jusfreeman commented on #59
See PR #52 - Fix contact summary display

[2017-10-05 13:02] mattwire opened #79 "Contribution page admin links not clickable"
![shoreditch_membership_admin](https://user-images.githubusercontent.com/2052161/31228505-a9873f54-a9d5-11e7-9a03-c97d880e75e3.png)

The "disabled" admin links in the dropdown configuration menu are not clickable, but look identical to the clickable links.  Also, in this case the disabled links should be clickable as they allow you to configure different parts of the contribution page

[2017-10-08 21:09] democratizeit opened #82 "my civicrm navigation menu disappeared upon install"
Hi.  So I installed the theme extension, and I can see that my theme has changed, but now I have no navigation menu.   where did it go?

[2017-10-09 09:30] AkA84 commented on #82
@democratizeit can you provide us more info (drupal version, civicrm version, drupal theme used, etc) and a screenshot? Thanks!

[2017-10-09 16:38] themak1985 commented on #82
Same issue here - 4.7.24, wordpress 4.8.2 and latest shoreditch alpha 11.  switching back to default theme fixes issue.  Returning to Shoreditch - CiviCRM menu disappears. Note, Alpha 10 did not have this issue.

[2017-10-14 11:52] brouwser commented on #82
Same here. Reset paths (Settings menu) solved it for me.

[2017-10-14 12:20] brouwser commented on #82
Sorry, no it didn't... 4.7.25, Drupal 7.56, shoreditch alph12.

[2017-10-24 15:28] mattwire commented on #82
See PR #90 - I think that will fix it for you.

[2017-10-24 16:09] mattwire commented on #76
@AkA84 Removing `overflow: scroll;` from `scss/civicrm/administer/settings/_extensions.scss` seems to fix this

[2017-10-30 11:07] JonScreat commented on #56
We have plans to update the colour palette used in Shoreditch to ensure that everything passes WCAG AA.

The changes would be as follows:
Dark Grey
#4D5663   >   #464354

Mid Grey
#727E8A   >   #4D4D69

Blue
#42AFCB   >   #2574A9

Red
#E6807F   >   #CF3458

Green
#8EC68A   >   #4D994D 	(For text and icons)
#8EC68A   >   #44CB7E 	(For buttons and accents (button text must be #464354))

Orange
#ECA6

[2017-11-28 15:53] rekaeps opened #110 "CSS causing white space in Drupal"
I just updated shoreditch to alpha14. I immediately noticed there was white space added to the top of my Drupal pages, both on the front-end and back-end. I took a look at the developer console and it looks like 60px of padding is being added:

body:not(.toolbar) {
    padding-top: 60px !important;

I'm running a bootstrap theme for my Drupal front-end. Drupal version is 7.56, CiviCRM is 4.7.27.

[2017-11-29 08:53] AkA84 commented on #110
@rekaeps thanks for spotting this, could you give me the exact conditions to replicate?

1. User's permissions
2. Drupal theme used for admin
3. Any custom modules installed
4. Examples of a front-end and back-end page where the issue can be seen

Thanks!

[2017-11-29 16:05] rekaeps commented on #110
Hi @AkA84 ,

The whitespace is showing for both authenticated and anonymous users. We only have one role active, which is the default admin role. We have the default Seven admin theme, and we are using a premium theme called Jango (http://jango.nikadevs.com/?theme=jango) for our front-end. The purchased theme has its own custom modules that integrate with shortcodes (https://www.drupal.org/project

[2017-12-09 21:30] themak1985 commented on #82
@mattwire this is still an issue, even with Alpha14.
Using latest wordpress and civicrm.

[2017-12-11 18:48] colemanw commented on #74
I keep finding breakages in the UI due to this script. Contact filters is broken in entityRef fields. The wysiwyg editor select looks weird on display preferences screen. I think this script ought to be removed before we release Shoreditch 1.0. @jamienovick what are your thoughts?

[2017-12-18 13:50] reswild commented on #82
@themak1985 This is still an issue with Alpha 14 because this fix hasn't been committed yet, but you can always manually edit the custom-civicrm.css file and remove the z-index rule from #civicrm-menu.

[2017-12-18 14:07] reswild commented on #110
I was also having an issue with extra white space on the top of my pages, and the problem turned out to be that I'm using the Administration Menu module instead of the default toolbar in Drupal, and this uses margin instead of padding on the body tag to adjust for the height of the top menu. I solved this by adding the following rule to the Shoreditch css:
html body:not(.toolbar) {
    margin-top:

[2018-01-08 11:17] sunilpawar opened #130 "CKEditor element shows in select2 format"
CKEditor element shows in select2 format, and not showing all options on expand (on click). (z-index issue)

[2018-01-11 20:14] dsnopek opened #133 "Puts broken select2 on billing fields on contribution page"
When the shoreditch extension (version 0.1-alpha14 and 0.1-alpha12 tested) is enabled, select2 will appear on the credit card and billing address fields, but it's broken.

Here's a screenshot:

![selection_148](https://user-images.githubusercontent.com/191561/34845093-5a1749ae-f6d9-11e7-8543-89d47a1e791f.png)

You can see that both the select2 and vanilla select box are shown. But also, if you cli

[2018-01-17 19:12] hansrossel opened #136 "custom font in Drupal overridden"
The last line of the css: {font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important}

is used with the !important on the very general body element so it is overriding the font used by Drupal on all pages. It does not seem needed as this font-family is already assigned to all Civicrm pages (on body class .page-civicrm).

[2018-01-22 23:18] adixon commented on #136
Yes, it looks like if you use the civicrm-custom.css file included in this extension your entire site will be converted to use Open Sans. This limits the usefulness of this extension, for sure, unless there's an undocumented way of overriding that. From my reading, the only way to fix it would be to setup gulp, etc. and edit a scss file somewhere.

[2018-01-25 08:41] hansrossel opened #139 "Font-weight 100 readability"
In the Chrome font-weight: 100 for Open-Sans is extremely thin and nearly unreadable.

I think for readability it should be at least 400 (regular) or even 700 because Open Sans is already a thin font on its own. Google fonts does not even offer Open-Sans with such an extremely thin font-weight.

<img width="485" alt="schermafbeelding 2018-01-25 om 09 37 55" src="https://user-images.githubuserconte

[2018-01-25 08:52] hansrossel commented on #139
It's in /civicrm/_variables.scss
$crm-font-weight-td: 100 !default;

In /bootstrap/fonts/opensans.scss there is only 400, 600 and 700 defined as weight, so should use one of these.

[2018-01-25 14:51] AkA84 commented on #139
hi @hansrossel , could you provide a screenshot of the issue? I agree that the definition itself of 100 is wrong and should be removed, but In my testing of the issue I could not replicate the problem, as the browser simply picks the lighter font variation available (400)

[2018-01-25 14:56] hansrossel commented on #139
There is a screenshot here above in my question above "family selected", it is quite unreadable because very light so you might not have seen it :)
I only started noticing recently that the font was so light in the tables so I suppose the latest update of Chrome is trying to make the font 100 and give us what we ask for.

[2018-01-25 15:02] hansrossel commented on #139
I suspect I'm getting 'Open Sans' 300 instead of 100 because I do have 'Open Sans' installed on my computer as a font, so the 300 is available to the system. People that do not have the font installed will then get the Bootstrap minimum 400 which you provide in Shoreditch.

<img width="287" alt="schermafbeelding 2018-01-25 om 16 02 50" src="https://user-images.githubusercontent.com/1085054/3539486

[2018-01-25 15:42] AkA84 commented on #139
@hansrossel ok I think the confusion is that, as far as i know, there is no 100 Open Sans. For the rest you are right, if you have the font locally it will show you 300, or if you don't have it locally it will show you 400 (like i see it, since i don't have the font locally)

In any case that value should be definitely removed , thanks for reporting this!

[2018-01-30 14:12] JoeMurray opened #146 "Q: is there a production target date?"
I'm very happy to see the active work on shoreditch. I notice there are lots of alpha tags. Are you using them to indicate that this work is far from ready for production use, or just that it is far from where you want it to be when complete? Would you say that this can be used for simple production uses yet?

[2018-01-30 20:46] JoeMurray commented on #146
Thanks for the update!

[2018-01-30 20:46] #146 closed

[2018-02-04 07:44] jorich-2000 opened #147 "Joomla CIVICRM menu not displaying"
Beta15
Civicrm menu is not shown until you click on search

![image](https://user-images.githubusercontent.com/9605017/35775353-1b540d8e-097f-11e8-8c4c-206693ec1285.png)

![image](https://user-images.githubusercontent.com/9605017/35775366-5bd0af3e-097f-11e8-9b13-4c258fcc50aa.png)

[2018-02-04 07:46] jorich-2000 opened #148 "Joomla menus corrupted"
beta15
Joomla menu has an additional blank white line added between the menu and title bar
![image](https://user-images.githubusercontent.com/9605017/35775375-8419ee60-097f-11e8-8b9b-f2e74c01728b.png)

[2018-02-06 08:19] AkA84 commented on #139
@hansrossel this should be fixed now

[2018-02-08 15:22] rekaeps commented on #110
Thanks. Administration Menu is used by mostly everyone. Should something be committed to fix this issue?

[2018-02-21 20:16] themak1985 opened #160 "Use portable resource URL for Custom CSS URL"
This is super low on the priority list - but when you select shoreditch as the custom CSS URL - it generates an absolute URL instead of a portable one - which generates a notice in CiviCRM System Status.  I have avoided this by simply choosing other instead of shoreditch and entering [civicrm.files]/ext/org.civicrm.shoreditch-0.1-alpha15/css/custom-civicrm.css and the warning goes away.

[2018-03-08 13:39] artfulrobot opened #184 "isQuickSearchOngoing assumes quick search exists in UI"
This causes js errors, e.g. on a public event registration page where there is no quicksearch UI.

[2018-03-08 14:40] artfulrobot opened #187 "Hides error messages(!)"
I've been tracing down why 'invalid card' -etc- errors from the [Stripe extension](https://github.com/drastik/com.drastikbydesign.stripe) are not working and I found that this shoreditch extension is visibly hiding error messages.

https://github.com/civicrm/org.civicrm.shoreditch/blob/master/scss/civicrm/common/_notifications.scss#L171

I can't find any Javascript that scans for these to better p

[2018-03-16 02:42] agileware-fj commented on #60
Confirming this is fixed.

[2018-03-16 02:53] agileware-fj commented on #59
This appears to be fixed according to our testing.  Please close.

[2018-03-16 04:00] agileware-fj commented on #64
This appears to be fixed.  Please close.

[2018-03-16 04:03] agileware-fj commented on #67
These appear fixed.  Please close.

[2018-03-16 04:07] agileware-fj commented on #68
These appear fixed.  Please close.

[2018-03-16 04:10] agileware-fj commented on #69
Alignment issues seem to be fixed.

The "Record activity"... label is constrained by the markup provided by CiviCRM core, so probably not something that can be fixed here.

Please close.

[2018-03-16 04:11] agileware-fj commented on #70
Appears fixed.  Please close.

[2018-03-16 04:28] agileware-fj commented on #73
This appears fixed. Please close

[2018-03-16 04:29] agileware-fj commented on #72
This appears fixed. Please close.

[2018-03-16 04:29] agileware-fj commented on #71
This appears fixed.  Please close.

[2018-03-16 04:30] agileware-fj commented on #66
This appears fixed.  Please close.

[2018-03-16 04:31] agileware-fj commented on #65
"Select Records" radio is working.

Criteria is still narrow.  This is on our to-fix list.

[2018-03-16 04:32] agileware-fj commented on #63
This appears fixed.  Please close.

[2018-03-16 04:33] agileware-fj commented on #62
We have a fix ready for this.  PR incoming soon.

[2018-03-16 04:33] agileware-fj commented on #61
Currently working on a fix for this.

[2018-03-19 02:17] yktdan opened #199 "Where are install instructions?"
Where are the install instructions? I tried upload a new theme in D7 and it says no info file. So I installed it in sites/all/themes and it doesn't show up on themes I can select.

[2018-03-19 02:39] jamienovick commented on #199
Hi @yktdan, Shoreditch is not a Drupal theme, but a CiviCRM theme extension. To install please install it as a CiviCRM extension and then enable. Then please go to CiviCRM resource URL's (/civicrm/admin/setting/url?reset=) and select Shoreditch theme from the custom CSS option. Hope that helps. Note that Shoreditch is still alpha with a few weeks still to go on development, so do check back for up

[2018-03-19 03:13] yktdan commented on #199
Thanks!, Did that and put in ext directory, unzipped, refreshed extension list, but it is not on the list of extensions to enable. Also tried renaming it without the -0.1-alpha16 in its name, and still not there.

[2018-03-19 05:06] AkA84 commented on #199
hi @yktdan , what is the ext directory where you put it in? Can you show us how the dir tree look like? You don't have to rename the extension, it should be visible in the list automatically

[2018-03-19 13:58] yktdan commented on #199
sites/default/files/civicrm/ext where all the other extensions that are in  the list are.
![image](https://user-images.githubusercontent.com/1762447/37599815-fdc966b6-2b5b-11e8-8355-303b42c95ea3.png)

[2018-03-19 19:34] jamienovick commented on #199
@yktdan did you refresh your list of extensions and clear caches?

[2018-03-19 19:36] yktdan commented on #199
yes

On Mon, Mar 19, 2018 at 3:34 PM, Jamie Novick <notifications@github.com>
wrote:

--
Walt Daniels

[2018-03-20 22:44] GinkgoFJG commented on #184
In case it's not clear, if you visit a contribution page as an anonymous user, the CiviCRM admin menu does not appear, so the jQuery lookup returns a value the original developer was not expecting. Other JavaScript (e.g., show/hide fields) will fail because of this error:

[code]
Meta: The "contributing" doc requests that bugs be assigned a label of bug, but this repo does not appear to allow acce

[2018-03-20 22:51] GinkgoFJG commented on #184
I propose #201 as a neater alternative to #185.

[2018-03-21 18:34] mgrabow1 commented on #199
In my case it worked (got Enabled) after pressing "Refresh" button, but... almost nothing changed visually :)

[2018-03-27 14:50] thomaqx commented on #136
This seems to be an issue that only occurs when using the CSS aggregation in Drupal in admin/config/development/performance
One way to solve this is to implement a Drupal function that excludes the Shoreditch css files from preprocessing: https://drupal.stackexchange.com/questions/21142/how-do-i-tell-drupal-not-to-aggregate-my-css-file

I have not tested this (but having the same issue that I'm cu

[2018-03-27 14:53] adixon commented on #136
Ah, thanks for that observation - that suggests that the preprocessing is generating css that Drupal's aggregation is choking on.

[2018-03-28 11:41] seanmadsen commented on #42
I worked around this issue another way. Would love to explain more, but I just don't have time right now to dig back into that project. Sorry!

Thanks to @mukeshcompucorp for reaching out via Mattermost about closing this ticket.

[2018-03-28 11:41] #42 closed

[2018-03-28 11:55] jamienovick commented on #24
@jonscreat can we close this ticket as we now agree we shouldn't have any floating panel headings yes?

[2018-03-28 11:55] jamienovick commented on #24
Or is there more to do?

[2018-03-28 12:13] mukeshcompucorp commented on #130
@sunilpawar Can you please lead us to page where you are facing this issue?

[2018-03-28 12:15] mukeshcompucorp commented on #133
@dsnopek  can you provide steps to reproduce this issue?

[2018-03-28 12:45] yktdan commented on #199
For me, installing in the right place still does not get it on my list of extensions that I can enable and refresh doesn't help, nor does clear all caches.

[2018-03-28 13:17] mukeshcompucorp commented on #27
@AkA84 as a part of https://github.com/civicrm/org.civicrm.shoreditch/pull/123, we do not have styled checkboxes anymore, and hence, this issue is now not produced.

You can close this

[2018-03-28 13:18] mukeshcompucorp commented on #30
@AkA84
It seems that issue has something to do with older js or core files,
In current version, we can not re-produce this issue anymore so, we can close this.

[2018-03-28 13:22] mukeshcompucorp commented on #40
@AkA84 this is fixed at https://github.com/civicrm/org.civicrm.shoreditch/pull/91
We can close this

[2018-03-28 13:25] mukeshcompucorp commented on #60
@AkA84 This one is fixed at https://github.com/civicrm/org.civicrm.shoreditch/pull/204,
We can close this

[2018-03-28 13:26] mukeshcompucorp commented on #61
@AkA84 This is fixed as a part of https://github.com/civicrm/org.civicrm.shoreditch/pull/206 we can close this

[2018-03-28 13:31] mukeshcompucorp commented on #62
@AkA84  This is fixed as part of https://github.com/civicrm/org.civicrm.shoreditch/pull/206 we can close this

[2018-03-28 14:33] colemanw commented on #74
@mukeshcompucorp IMO the script needs to be removed. It is still causing UI breakages and everything should work fine without it.

[2018-03-28 15:07] JonScreat commented on #24
@jamienovick This can be closed for me. Floating panel headers shouldn't be a thing anymore.

[2018-03-28 15:08] jamienovick commented on #24
@AkA84 Do we need to do anything to get rid of floating panel headers or can this be closed?

[2018-03-28 19:22] laurynnlowe opened #211 "Booking Wizard Save Button Disappears"
To reproduce:
Booking > New Booking
Select Resource
Add Resource to Basket
Save Cancel button in Add Resource basket missing

[2018-03-29 05:27] mukeshcompucorp commented on #63
@AkA84  This is fixed as part of https://github.com/civicrm/org.civicrm.shoreditch/pull/206 we can close this

[2018-03-29 05:43] mukeshcompucorp commented on #64
@AkA84 This is fixed with table global changes, we can close this

[2018-03-29 06:06] mukeshcompucorp commented on #77
@AkA84 as a part of https://github.com/civicrm/org.civicrm.shoreditch/pull/123, we do not have styled checkboxes anymore and js to hide it initially, and hence, this issue is now not produced.

You can close this

[2018-03-29 06:07] mukeshcompucorp commented on #65
@AkA84 as a part of https://github.com/civicrm/org.civicrm.shoreditch/pull/123, we do not have styled radio buttons anymore, and hence, this issue is now not produced.

You can close this

[2018-03-29 06:10] mukeshcompucorp commented on #66
@AkA84 This is been fixed with global icons on all places, we can close this.
Ref: https://github.com/civicrm/org.civicrm.shoreditch/pull/95

[2018-03-29 06:14] mukeshcompucorp commented on #67
@AkA84 This is fixed as part of https://github.com/civicrm/org.civicrm.shoreditch/pull/96, we can close this.

[2018-03-29 06:15] mukeshcompucorp commented on #68
@AkA84 This is fixed as part of global form consolidations in various PRs, this issue no longer reproduces, we can close this

[2018-03-29 06:16] mukeshcompucorp commented on #69
@AkA84 these are fixed as global consolidation in various PRs and issue is no longer reproducible, we can close this

[2018-03-29 06:22] mukeshcompucorp commented on #70
@AkA84 No longer reproducible, we can close this

[2018-03-29 06:24] mukeshcompucorp commented on #72
@AkA84 fix as part of global table consolidations, no longer reproducible

[2018-03-29 06:26] mukeshcompucorp commented on #73
@AkA84 This is fixed as part of global form  and button consolidations, it no longer producible. we can close this

[2018-03-29 06:29] mukeshcompucorp commented on #75
@AkA84 This is fixed as part of https://github.com/civicrm/org.civicrm.shoreditch/pull/177 we can close it.

[2018-03-29 06:32] mukeshcompucorp commented on #76
@AkA84 this is fixed as part of  https://github.com/civicrm/org.civicrm.shoreditch/pull/126, we can close this

[2018-03-29 06:34] mukeshcompucorp commented on #139
@AkA84 This is at https://github.com/civicrm/org.civicrm.shoreditch/pull/145, let's close this one

[2018-03-29 06:36] mukeshcompucorp commented on #56
@AkA84 This is fixes as part of https://github.com/civicrm/org.civicrm.shoreditch/pull/94 we can close this one

[2018-03-29 06:37] mukeshcompucorp commented on #39
@AkA84 This one is answered and makes sense already, we can close this

[2018-03-29 06:42] mukeshcompucorp commented on #47
@AkA84 Node is with Latest 8.9.4 from https://github.com/compucorp/org.civicrm.shoreditch/pull/81 we can close this

[2018-03-29 06:44] mukeshcompucorp commented on #110
@AkA84 This is fixed now under new menu changes I think, can we close this?

[2018-03-29 15:28] #47 closed

[2018-03-29 15:29] #39 closed

[2018-03-29 15:29] #139 closed

[2018-03-29 15:29] #76 closed

[2018-03-29 15:29] #75 closed

[2018-03-29 15:30] #73 closed

[2018-03-29 15:30] #72 closed

[2018-03-29 15:30] #71 closed

[2018-03-29 15:30] #70 closed

[2018-03-29 15:30] #69 closed

[2018-03-29 15:30] #68 closed

[2018-03-29 15:31] #67 closed

[2018-03-29 15:31] #66 closed

[2018-03-29 15:31] #65 closed

[2018-03-29 15:31] #77 closed

[2018-03-29 15:31] #64 closed

[2018-03-29 15:31] #63 closed

[2018-03-29 15:37] AkA84 commented on #24
Well we need to amend the theme's style, as it currently does have floating panel headers

[2018-03-29 15:38] #62 closed

[2018-03-29 15:38] #61 closed

[2018-03-29 15:38] #60 closed

[2018-03-29 15:39] #59 closed

[2018-03-29 15:39] #58 closed

[2018-03-29 15:39] #30 closed

[2018-03-29 15:39] #27 closed

[2018-04-03 14:39] tschuettler opened #214 "Contact View - Contact Type Icon and Tooltip Summary not shown"
Default and custom icons indication the contact type are not shown. Normally this icon is used to show a contact summary as a tooltip.

dmaster:
![grafik](https://user-images.githubusercontent.com/19712240/38254827-8104638c-375a-11e8-97f8-7f9bad1e9104.png)
A custom contact type icon is shown at the same place, but the background image is loaded from the custom path.

current shoreditch:
Element is

[2018-04-03 14:52] tschuettler opened #215 "Contact View - Contact Image not shown"
A custom contact image can be saved when editing the contact. But it is currently not display on the contact page.

dmaster:
![grafik](https://user-images.githubusercontent.com/19712240/38256302-3b887042-375e-11e8-87a7-26683a696467.png)

current shoreditch:
element is hidden
![grafik](https://user-images.githubusercontent.com/19712240/38256381-6933eb20-375e-11e8-9440-24e49d7e1046.png)

It would pr

[2018-04-03 22:12] mlutfy commented on #74
Fixed by #216

[2018-04-04 10:57] davialexandre commented on #74
Reopening, as #216 had to be removed

[2018-04-04 13:40] JVeitia opened #217 "Bug dropdown items appear behind the pop-up box"
See below, When attempting to edit the activity status,  I'm not able to select any status. The dropdown options appear behind the pop-up box.

![image](https://user-images.githubusercontent.com/12940400/38310059-9de9c142-37e9-11e8-81a3-6559a870ea95.png)

In the following image you can see the dropdown options behind the pop-up box.  The only place I'm able to edit these options is from a dashlet

[2018-04-05 16:09] JVeitia commented on #217
This issue was not related to the theme. The dropdowns are working fine after following this in stack https://civicrm.stackexchange.com/questions/17807/dropdowns-not-accessible

[2018-04-05 16:09] #217 closed

[2018-04-06 21:50] rekaeps commented on #215
Same here, using latest version of Shoreditch and CiviCRM 5.0.0.

Also, is there a reason why there is such a large gap between the name and the summary screen (see my screenshot)? Is it supposed to be like how it's in CiviHR (in the screenshot in OP's post)?

![github](https://user-images.githubusercontent.com/28766405/38445782-fb025d82-39c2-11e8-8c40-dd2e30f62ed9.PNG)

[2018-04-10 11:37] AkA84 commented on #133
Fixed by #218 , closing

[2018-04-10 11:37] #133 closed

[2018-04-10 11:38] AkA84 commented on #130
Fixed by #218 , closing

[2018-04-10 11:38] #130 closed

[2018-04-16 06:17] mukeshcompucorp commented on #79
@AkA84 This is resolved with https://github.com/civicrm/org.civicrm.shoreditch/pull/213, we can close it

[2018-04-16 09:35] mukeshcompucorp commented on #187
@AkA84 with https://github.com/civicrm/org.civicrm.shoreditch/pull/220, this one is resolved.

[2018-04-16 09:36] #187 closed

[2018-04-17 12:48] gazzafm opened #221 "Theme causes major headaches"
Installed this theme with 4.7 Civi and followed the settings. Installed Civicase 5 extension. The layout was all over the place. Panels on top of each other, major spaces between panels, and in some cases text was outside border areas. Disappointing that Civi still has an outdated UI and was hoping for better with Shoreditch, but unfortunately
![capture](https://user-images.githubusercontent.com/2

[2018-04-20 07:35] Fabian-SYSTOPIA commented on #215
We have a customer who would like to display the image as well and who may be able to fund this. Could anyone provide us with an estimate?

Integrating it left to the display name as tschuettler suggested

[2018-04-20 09:38] jamienovick commented on #214
@tschuettler please see: https://github.com/civicrm/org.civicrm.shoreditch/pull/222#pullrequestreview-113907613

I have some concerns about bringing this functionality back. Is there a specific requirement for it? I think the tooltip is not necessarily that useful and I think clutters the screen with the additional icon. I think this was a design decision taken a while back to remove it.

Im wonde

[2018-04-20 10:00] jamienovick commented on #215
@Fabian-SYSTOPIA I'll pop you an email for estimate. Best

[2018-04-20 13:30] tschuettler commented on #214
@jamienovick  We use it as a visual indication for the contact type and subtype.

I reported the tooltip because it appeared to be a regression for civicrm users without this theme. The listing of all groups may provide additional benefits to be seen without going to the contact tab.
Should it be discussed with the civicrm core team to drop functionality or make it optional instead of hiding it in

[2018-04-23 16:55] colemanw commented on #221
@gazzafm that's definitely not what it's supposed to look like. I've been using shoreditch for a while and haven't seen that problem. It could be caused by interference from your CMS. What CMS/theme are you using?

[2018-04-26 16:57] jorich-2000 commented on #147
To fix this I had to change height and line-height to 27px in #civicrm-menu>li.menumain

[2018-04-29 19:07] seascoot opened #230 "Misalignment when using Drupal Admin Toolbar"
Selecting Admin toolbar to display as a side menu pushes out all of the shoreditch menu dropdowns.

Drupal 8.4.0, Shoreditch 0.1-alpha16, CiviCRM 4.7.30

![image](https://user-images.githubusercontent.com/3943536/39410024-c0deeba8-4ba5-11e8-9c3a-eaa12091b236.png)

[2018-05-11 10:42] christianwach opened #234 "Please don't apply font-family to the body element"
Currently, Shoreditch [applies its sans-serif font stack to the body element](https://github.com/civicrm/org.civicrm.shoreditch/blob/master/scss/civicrm/common/_base.scss#L8). This seems, firstly, to be a divergence from the aim to "contain" Shoreditch's CSS declarations to CiviCRM markup. Secondly, on WordPress, this causes problems both in wp-admin (because it overrides the declarations set by W

[2018-05-28 02:28] gazzafm commented on #221
We are using Drupal and using the standard theme that comes with. We havnt installed any other theme.

[2018-05-28 06:33] Rar9 commented on #230
Same for Drupal 7

[2018-05-30 04:18] stesi561 opened #235 "Menu's and scrolling - position absolute not fixed."
I'm not sure if this is due to interference with the CMS theme but I've noticed that drop down menu's are getting position: absolute instead of position: fixed?

I think it is a result of this style being applied inline I assume via javascript?

`<div class="menu-div outerbox" style="position: absolute; top: 0px; left: 657px; margin-top: 6px; display: none;">`

This results in odd behaviour when s

[2018-06-06 03:05] JustinDMoore commented on #147
Same for me. Thanks @jorich-2000 for the workaround. Good now.

[2018-06-07 03:16] JustinDMoore opened #238 "Joomla layout question"
I'm testing Shoreditch on Joomla. While I know Joomla isn't officially supported yet, I was surprised to see the tab layout remain the same as before:
<img width="862" alt="screen shot 2018-06-06 at 11 13 07 pm" src="https://user-images.githubusercontent.com/8095607/41076372-4f45f808-69df-11e8-8b35-ec08b21a8d23.png">

Instead of this:
<img width="601" alt="screen shot 2018-06-06 at 11 14 45 pm" sr

[2018-06-12 09:09] gibsonoliver opened #239 "Contact summary screen - Edit Fieldset Display Issue"
We have the Alpha 19 version of the theme installed (Drupal 7 and CiviCRM 5.x latest).
When editing a custom field set on the Contact Summary tab there are serious layout issues

See the issue in this image

![capture](https://user-images.githubusercontent.com/11870434/41280841-dd931fa4-6e27-11e8-88ba-382855ecdbbd.PNG)

Olly

[2018-06-13 20:52] adixon opened #240 "use of id "bootstrap-theme""
As a design idea, this seems to me flawed, since you can only have one id per html page. For example, if you have two extensions both generating css that they want to be shoreditchy, then they'll both want to use that id in their markup and kapooeey.

Any reason not to use a class instead?

[2018-06-19 05:35] ben-pridmore commented on #110
I'm having the same issue. Running the latest version of CiviCRM, Shoreditch and Drupal. Anyone experiencing the same?

[2018-06-19 20:05] jamienovick commented on #110
@mukeshcompucorp @benasp123 this is due to conflict with admin toolbar Drupal module and shoreditch theme. We have this in the backlog and will fix once backstop JS tests are complete. Thanks for reporting @benasp123

[2018-06-28 21:01] guyiac opened #241 "Space at top of Contact Record"
![image](https://user-images.githubusercontent.com/9013199/42060264-4322551e-7af4-11e8-8978-7c8bf1e97992.png)

I'm all for "white space" and not crowding things in, but this big swath of blank space at the top of the contact record seems like a waste of an opportunity to me. Does it make sense to either make it shorter from top to bottom, or put some display data in there (title and organization,

[2018-06-28 21:29] JoeMurray commented on #241
+1

[2018-06-28 21:53] guyiac commented on #241
I'll just add - while there are some small things like this issue and the contact menu on the left that I am not a fan of, overall, the look and feel is a HUGE IMPROVEMENT. Thanks for your work on this!

[2018-07-09 19:59] rekaeps commented on #241
I'm under the assumption that it might eventually house more information. If you look at the screens for CiviHR, it utilizes that space. I brought up the same issue in another thread. It looks like someone might be able to fund the development for it: https://github.com/civicrm/org.civicrm.shoreditch/issues/215.

![image](https://user-images.githubusercontent.com/28766405/42472947-1e9104b6-8391-11

[2018-07-13 12:41] jensschuppe opened #242 ""warning labels and messages" style rules overridden"
The highlighting of overdue or scheduled activities is gone due to more specific rules within the shoreditch stylesheet, e.g. in
[code]
This is the original style declaration with the color highlighting:
[code]
This should be extended to include subsequent elements as well, so that they are only overridden if there is a more specific rule:
[code]
Note the missing `!important` so that deliberately

[2018-07-25 20:30] davidjosephhayes commented on #238
I get the top one as well on Joomla.

[2018-07-25 20:32] davidjosephhayes commented on #147
I adding a some custom css to the Isis admin template (css/custom.css) that fixed most of the Joomla specific layout/styling
 problems:

[code]

[2018-07-25 21:14] clarkac1 commented on #241
The problem is that for all my clients this is 100% wasted space, which contributes to being able to see only a few contact records before you have to scroll to see more.  See [this question](https://civicrm.stackexchange.com/questions/25817/how-to-customise-shoreditch)

[2018-07-25 21:23] clarkac1 opened #262 "Doesn't work acceptably on a typical laptop screen"
Most laptops have screens somewhere between 13" and 15.4".    Search contacts to get a list on such a device and with Shoreditch you'll get somewhere 2 and 5 contacts on the screen before you have to scroll - versus 13 contacts with the regular Civi.  See [this](https://civicrm.stackexchange.com/questions/25817/how-to-customise-shoreditch)

[2018-07-26 05:16] jorich-2000 commented on #147
Thanks @davidjosephhayes that works a treat.

[2018-07-26 05:44] jorich-2000 commented on #147
I also normally add the following to get rid of the left sidebar
#crm-container #sidebar-left {
	display:none;
}

[2018-08-02 19:25] sleewok commented on #3
Can you PLEASE add information in the readme about setting the Drupal theme to Seven? That seems like a pretty important detail to be missing...

[2018-08-03 14:17] #82 closed

[2018-08-06 07:07] AkA84 commented on #82
@democratizeit this should have been fixed by #270 , please check the PR for additional information

[2018-08-07 14:29] rekaeps commented on #110
@jamienovick Any update on if you all were able to address this? I noticed that there has been a couple recent versions of the alpha being released so just wanted to check.

[2018-08-07 15:57] jamienovick commented on #110
@rekaeps we've got this one in the backlog and should be part of next release. It didn't quite make the last cut unfortunately.

Thanks

[2018-08-07 16:27] mattwire commented on #147
@jorich-2000 Could you test https://github.com/civicrm/civicrm-core/pull/12632 please?

[2018-08-07 16:44] mattwire commented on #82
Thanks, tested in Drupal/Wordpress and it does seem to be fixed :-) Raised civicrm/civicrm-core#12632 for Joomla menu issue.

[2018-08-08 14:39] sleewok opened #274 "Submit Buttons Hidden via custom-civicrm.css"
CiviCRM v5.3 on Drupal 7 using the latest shoreditch pulled from git.

Why are submit buttons on **form popups** being hidden?

This is the CSS in custom-civicrm.css that hides them, which effectively breaks all quickforms loaded through a popup.

`.crm-container.ui-dialog .ui-dialog-content .crm-submit-buttons {
    display: none;
}`

**Details**
This occurs in extensions when using the **loadFor

[2018-08-09 05:40] jorich-2000 commented on #147
@mattwire Overall that seems to work ok - I do still need the following in the joomla admin template custom.css to get the blank joomla sub heading to collapse (it takes a lot of screen space)

body.com_civicrm .subhead-collapse, body.com_civicrm .subhead-btn  {
  display: none;
}

[2018-08-09 07:29] #41 closed

[2018-08-09 07:48] AkA84 commented on #215
Fixed by https://github.com/civicrm/org.civicrm.shoreditch/pull/264 , closing

[2018-08-09 07:48] #215 closed

[2018-08-09 07:59] AkA84 commented on #242
@jensschuppe thank you for your feedback, could you please provide:

* screenshots of the issue (preferably how things look in vanilla civicrm, and how they look in shoreditch)
* CiviCRM version
* Shoreditch version
* CMS used, and version

[2018-08-09 08:01] AkA84 commented on #274
@sleewok  thank you for your feedback, could you please provide:

* screenshots of the issue (preferably how things look in vanilla civicrm, and how they look in shoreditch)
* Info about where you see the issue (i.e. core screens, extension, etc)
* CiviCRM version
* Shoreditch version
* CMS used, and version

[2018-08-09 10:07] mattwire commented on #147
@jorich-2000 Any chance you could post those comments directly on https://github.com/civicrm/civicrm-core/pull/12632?

Also I think this makes sense, but can you raise it as a separate PR against CiviCRM core?
[code]

[2018-08-09 13:04] sleewok commented on #274
Updated with additional information.

[2018-08-09 13:07] sleewok commented on #221
Question: Within the civicrm resource settings, should be be disabling the civicrm.css?
![image](https://user-images.githubusercontent.com/304940/43900730-ab49ec80-9bb3-11e8-888f-4ddafc2c5b9e.png)

[2018-08-09 16:19] jamienovick commented on #28
@christianwach - Hope you are good. Cleaning up some old tickets here. Can I ask what you mean? Is this specifically for Bootstrap styles? If so we are probably not quite there yet... Could you perhaps give an example of the output that would be helpful to you?

Many thanks

J

[2018-08-09 16:21] jamienovick commented on #211
Hi @laurynnlowe, unfortunately CiviBooking is not yes supported by Shoreditch theme. If you would be able (and willing!) to fund that support we would welcome your contribution. We estimate about 8-12h to fully cover CiviBooking functionality. Please let us know if you would be interested in taking this forward and we can have a more detailed chat. Many thanks!

[2018-08-10 08:46] AkA84 commented on #110
Hi @rekaeps , i've spent a couple of ours investigating the problem, and it seems to me there are two sides of it:

### When in civi pages (under /civicrm)
This is indeed the theme not interacting well with [admin_menu](https://www.drupal.org/project/admin_menu), as the "legacy mode" (`custom-civicrm.css`) had been styled with the Toolbar module in mind.

When Toolbar is enabled, we make it the sa

[2018-08-10 11:00] AkA84 commented on #148
Hi @jorich-2000 , thanks for your feedback!

At the moment Shoreditch does not officially support Joomla, but if you'd like to submit a PR to fix the issue we'd gladly review it and consider it for one of the next releases

[2018-08-10 11:01] AkA84 commented on #199
@yktdan do you have any updates on this? Did you manage to install the theme?

[2018-08-10 11:04] AkA84 commented on #221
@sleewok yes, the "legacy mode" (`custom-civicrm.css`) is built on top of the original civicrm.css so you also need that on your site

@colemanw @gazzafm not sure if this is more about civicase than shoreditch. Any update?

[2018-08-10 11:09] AkA84 commented on #230
thanks for reporting it @seascoot !

Currently Shoreditch does not officially support Drupal 8, but we'd gladly review a PR to fix the issue if you considered submitting one

@Rar9 could you submit more information?

* screenshot (or gif) of the issue
* Shoreditch version
* CiviCRM version
* Steps to reproduce

Thanks!

[2018-08-10 11:14] AkA84 commented on #238
Hi @JustinDMoore , currently Shoreditch does not officially support Joomla.

I can tell you that the issue is due to some selectors that targets a specific `<body>` class applied to the contact summary page, in order to achieve the look you see in the second screenshot.

The `<body>` class in question is something that Drupal adds programmatically (`.page-civicrm-contact-view`). Joomla also adds `

[2018-08-10 11:15] AkA84 commented on #239
hi @gibsonoliver , could you give us the exact steps to reproduce the issue? Thanks

[2018-08-10 11:39] AkA84 commented on #274
thanks @sleewok , if you could also give us the name of the extension used for the screenshot it would help us pinpoint the source of the issue

From core screens I see that when you use `CRM.loadForm`, for example
[code]
the `.crm-submit-buttons` elements that would normally being shown in the form on full page get instead hidden via JS in the modal, as the modal itself already provides submit bu

[2018-08-10 12:06] jamienovick commented on #239
Looks like long field names are not wrapping and there isn't sufficient spacing when editing an inline custom field block?

[2018-08-10 12:08] yktdan commented on #199
Just tried again and it installed. However the top black menu bar
disappears and no way to get to anything other than the admin screen. I
will investigate more thoroughly later today.

On Fri, Aug 10, 2018 at 7:01 AM Alessandro <notifications@github.com> wrote:

--
Walt Daniels

[2018-08-10 12:32] christianwach commented on #28
@jamienovick Yep, I'm good :)

TBH, I can't remember exactly what this was about - IIRC, I was trying to fix Shoreditch for WordPress and couldn't get any useful info from the Style Guide. I'll reopen if/when I run into this again.

[2018-08-10 12:32] #28 closed

[2018-08-10 14:09] adixon commented on #240
Thanks for the note, and I agree it's a challenging problem. FWIW I think it's still not the right solution, though I don't have an easy answer - I think part of the answer has to be to fix core.

[2018-08-10 16:09] sleewok commented on #274
The extension that screenshot is from is internal. I noticed something odd. For all of our internally built extensions, when we use the loadForm function I get the following error in the browser console. I wonder if this is the cause of the issue.

I do not get this error when loading built-in core civi forms. I'm going to do some digging to figure out what is going on...

`ncaught TypeError: Cann

[2018-08-10 16:27] sleewok commented on #274
I just figured it out...
I have to add the parameter "reset: 1" to the URL

That gets rid of the error and the buttons show.

[2018-08-10 16:30] sleewok commented on #274
Actually, it doesn't require reset:1. You have to have at least one parameter passed. If you do not have a parameter in the URL then you will get the error. I wonder if that is a bug...

[2018-08-10 23:10] ahillio opened #277 "requires "seven" as default theme?"
Is that a typo?  Using this Shoreditch theme for CiviCRM requires that Drupal's default theme be "Seven"?  That's can't be true... using "Seven" as the default theme?  No Drupal site on the planet does that.

I just found Shoreditch via the awesome-looking Contact Layout Editor.  That requires this?  And This requires that the website uses "Seven" as default theme?

[2018-08-12 13:00] JoeMurray commented on #277
+1

[2018-08-13 05:57] AkA84 commented on #277
Hi @ahillio , we don't require the entire Drupal site to use Seven, only the CiviCRM admin.

You can do that by making sure that the "CiviCRM theme" module is enabled, and then selecting the "Seven" theme as "CiviCRM Administration theme" in /admin/appearance

Let me know if you found this helpful, in the meantime we'll make sure to update the README.md to better clarify the relationship with the

[2018-08-13 06:02] AkA84 commented on #274
@sleewok thanks for looking a bit more into this! Doesn't seem then that this is a bug with the theme?

[2018-08-13 14:03] ahillio commented on #277
Aha!  Thanks @AkA84, that makes more sense :)

[2018-08-13 14:48] JoeMurray commented on #277
Yes, clarifying this in documentation would be helpful, because I would have thought I needed to set the Civi Admin theme to shoreditch.

[2018-08-14 07:35] #277 closed

[2018-08-14 07:38] AkA84 commented on #199
thanks @yktdan let us know if the issue with the "top black menu bar" (drupal toolbar?) persists, and if so provide us screenshots so we can better troubleshoot the issue

[2018-08-14 13:05] yktdan commented on #199
It works. It is just not black anymore. So now testing how it looks. So far
good.
Very hard to find the button to turn it on and off. Perhaps mention that in
the README.

On Tue, Aug 14, 2018 at 3:38 AM Alessandro <notifications@github.com> wrote:

--
Walt Daniels

[2018-08-15 09:35] JonScreat commented on #262
Hi @clarkac1 Thanks for your feedback. It’s something we are looking into. One potential solution we have in mind a allowing users to choose between a spaced out and a more condensed view of pages (much like Gmail’s Comfortable, Cosy and Compact views), enabling users to get more on screen when space is at a premium. Is this something that would be useful for your users? If it would be of use and

[2018-08-15 11:35] clarkac1 commented on #262
Hi @JonScreat - Yes - absolutely - I'd be glad to help fund that idea.
Sounds like a really good idea to have those similar options to Gmail.  Let
me know when you've got the 'Make it Happen' running.  If Shoreditch would
work on a 15.4" laptop I'd switch straight away !

A

On Wed, 15 Aug 2018 at 10:35, JonScreat <notifications@github.com> wrote:

--
Regards,
Andy Clark

[2018-08-15 17:15] rekaeps commented on #215
Images are not showing correctly w/ fix. It seems to skew images. I've tried w/ various images. It seems like it needs to be a certain pixel size prior to uploading, otherwise it doesn't know how to crop the image correctly.

![image](https://user-images.githubusercontent.com/28766405/44162088-3da73000-a08d-11e8-84b3-ce0922703621.png)

[2018-08-17 15:43] AkA84 commented on #215
thanks @rekaeps , yeah i can see that the theme doesn't handle well non-square pictures, we'll have to work on a fix for that. Could you open a new issue for it, so i can close this one? Thanks a lot!

[2018-08-17 18:38] rekaeps opened #279 "Contact Image Doesn't Handle Non-square Images Well"
Opening new issue at request of @AkA84.

[Issue 215](https://github.com/civicrm/org.civicrm.shoreditch/issues/215) fixed contact image not showing up next to name of contact, however any image that is not square to begin with becomes skewed once rendered.

https://user-images.githubusercontent.com/28766405/44162088-3da73000-a08d-11e8-84b3-ce0922703621.png

[2018-08-21 14:48] sleewok commented on #274
@AkA84 Glad to look into it. I am still not sure of the necessity of hiding this element via CSS.

I am concerned that it may cause issues for many users that have custom extensions using form pop-ups that do not include parameters in the URL. The CiviCRM documentation does not specify this requirement, and the pop-ups seem to function properly without parameters using the default theme.

In order

[2018-08-21 15:45] AkA84 commented on #274
many thanks @sleewok , i'll wait to hear from you then

Might be interesting checking if all of them gives that error in the console. In that case it might be a sort of requirement that wasn't strictly enforced and/or documented

[2018-08-22 10:42] jensschuppe commented on #242
Seems like some other CSS (e.g. the CMS theme) already overwrites the color rule. So this seems to be highly dependant on the CMS theme used or any other CSS. Maybe this is an issue for CiviCRM core ...

For this reason, I can't provide general screenshots comparing the initial state with shoreditch.

The "issue" can be seen on the activity tab for contacts, inspecting the activity subject table c

[2018-08-23 14:28] AkA84 commented on #242
@jensschuppe Shoreditch has a requirement the use of the "Seven" theme for the civicrm admin (see https://github.com/civicrm/org.civicrm.shoreditch/issues/277), does that solve the issue?

[2018-08-23 14:52] jensschuppe commented on #242
The "Seven" theme itself overrides the "red color rule", so that's part of the problem.

You can see the issue by selecting e.g. "Bartik" as the CiviCRM administration theme and not using shoreditch. When opening the "Activites" tab for a contact, overdue activites should appear red - See screenshot 1. The inspector shows the style rules for the "color" property in order of specificity.

![1_barti

[2018-08-28 13:33] sleewok commented on #274
Looks like it was a bug and is being resolved. I applied the patch that will be included in future releases of CiviCRM and the loadForm popup works with Shoreditch on forms without params in the URL.

https://lab.civicrm.org/dev/core/issues/351

[2018-08-28 13:33] #274 closed

[2018-08-28 23:20] eileenmcnaughton opened #282 "cross got lost (activity search)"
Per the screen shots - the x next to 'Added By' is not visible on shoreditch

![screenshot 2018-08-29 11 19 06](https://user-images.githubusercontent.com/336308/44756153-5d565200-ab7d-11e8-9403-727e968a2f87.png)

![screenshot 2018-08-29 11 16 37](https://user-images.githubusercontent.com/336308/44756134-43b50a80-ab7d-11e8-9135-6c82b546a016.png)

(note this is being reported as 'something I observe

[2018-08-30 12:04] #240 closed

[2018-08-30 12:07] #199 closed

[2018-08-30 12:09] AkA84 commented on #147
@mattwire civicrm/civicrm-core#12632 has been merged, does it mean i can close this issue?

[2018-08-30 13:59] jorich-2000 commented on #147
From my point of view yes

[2018-08-30 13:59] jorich-2000 commented on #147
From my point of view yes

[2018-08-30 13:59] #147 closed

[2018-09-05 11:14] jensschuppe commented on #136
This is *not* limited to Drupal's CSS aggregation being active. The issue is that shoreditch's custom-civicrm.css is being loaded on every page, including non-CiviCRM pages - more precisely, everytime `civicrm_initialize()` is being called. This is, of course, due to shoreditch making use of CiviCRM core's customCSS option.

However, using `!important` is highly discouraged in the first place, esp

[2018-09-12 07:16] AkA84 commented on #235
@stesi561 I can replicate the issue on vanilla CiviCRM

![scroll](https://user-images.githubusercontent.com/6400898/45408341-5f83da80-b66c-11e8-88c1-e5d587192ec4.gif)

(v0.1-alpha24)

Are you sure this is a problem with Shoreditch and not with CiviCRM menu in general? That inline style you referenced is applied regardless to whether the theme is enabled or not

[2018-09-12 08:52] stesi561 commented on #235
Right you are! Random. I've never noticed that before.

[2018-09-12 08:52] #235 closed

[2018-09-12 13:45] AkA84 commented on #110
@rekaeps if you pull latest, you should see that the issue detailed in the "When in civi pages (under /civicrm)" section of https://github.com/civicrm/org.civicrm.shoreditch/issues/110#issuecomment-411076776

As I explained in my comment, the gap you see in the non-civi pages seems more related to a bug in civi itself

[2018-09-12 13:55] #279 closed

[2018-09-12 14:08] #282 closed

[2018-09-12 15:27] mattwire opened #295 "Relationships tab margins messed up"
This can be fixed by removing scss/civicrm/managers/_manager.scss
Is this an accidental carryover from CiviHR?

![relationshiptab](https://user-images.githubusercontent.com/2052161/45435416-721c0500-b6a8-11e8-974c-0b1b678bff64.png)

[2018-09-12 15:27] mattwire commented on #295
ping @AkA84

[2018-09-12 19:46] mattwire commented on #295
@mukeshcompucorp Could you review this?

[2018-09-12 19:49] rekaeps commented on #110
I just pulled the latest and I think we're almost there!

The fix you added seems to have solved the front end. I no longer have the space between the administration menu and any of my pages, however, on the back end, I still seem some issues with CiviCRM.

I was admiring the fix you did for the stretched image when I noticed the following:

![problemone](https://user-images.githubusercontent.com/

[2018-09-13 07:29] AkA84 commented on #295
@mattwire I can't seem to replicate the issue

<img width="1439" alt="error" src="https://user-images.githubusercontent.com/6400898/45473421-4eec6680-b737-11e8-91f1-1e9da9327ff9.png">

this on chrome/firefox, seven theme, shoreditch v0.1-alpha24

[2018-09-13 07:32] AkA84 commented on #239
@gibsonoliver ping

[2018-09-13 07:38] AkA84 commented on #230
@Rar9 we currently can't reproduce the issue (shoreditch v0.1-alpha24), so unless you confirm that it's still reproducible on your end and provide all the info i listed above, I think this one can be closed

[2018-09-13 07:39] #211 closed

[2018-09-13 07:39] #148 closed

[2018-09-13 10:44] mattwire commented on #295
@AkA84 Can you test with a drupal bootstrap theme? (eg. the bootstrap base theme: https://www.drupal.org/project/bootstrap). Then you will see the problem.

[2018-09-13 10:52] mattwire commented on #295
Related to this issue: https://github.com/civicrm/civicrm-core/pull/12800

[2018-09-13 11:29] AkA84 commented on #295
@mattwire Shoreditch currently only supports the Seven theme, please see here https://github.com/civicrm/org.civicrm.shoreditch/#supported-cmss

We'd be happy to review and merge a PR with a fix for this particular drupal theme, but at the moment internally we are focusing on the support of Seven only

[2018-09-13 11:47] mattwire commented on #295
@AkA84 I think we just need to remove the file `scss/civicrm/managers/_manager.scss`

But since a few days I can't build latest master so cannot test with seven theme:

[code]

[2018-09-13 12:39] AkA84 commented on #295
@mattwire I don't think we can simply get rid of an entire partial that provides the style for an whole tab; whatever solution will address the issue on that particular theme, it should be build on top of the style provided that `_manager.scss`

Re that error, the theme uses https://github.com/totten/civicrm-scssroot#v0.1.1 in its gulp task, please make sure that your dev env meets the [requiremen

[2018-09-13 12:49] mattwire commented on #295
@aka84 have you looked at the contents of _manager.scss? As it is not providing the style for a whole tab at all - but a number of overrides and exceptions (including !important which is generally bad practise and makes it extremely hard to override with custom CSS on top).
The file which provides style for the whole tab is in contact/pages/_relationships.scss

My dev env is correct per requiremen

[2018-09-18 10:48] AkA84 commented on #295
@mattwire I did look at the content of the file and also tried to remove it as soon as you suggested it, this is the result:

![no-file](https://user-images.githubusercontent.com/6400898/45680381-14ba0500-bb3b-11e8-939d-dddfed4419be.png)

_(Please note that while the screenshot is for CiviCRM v5.4.0 I also tested it on CiviCRM v5.5.1)_

As expected the style of the tab's content doesn't look right

[2018-09-19 18:45] eileenmcnaughton opened #314 "Tags + shoreditch in contact layour editor can become uneditable due to field width"
Also posted https://github.com/civicrm/org.civicrm.contactlayout/issues/29#issuecomment-422793930
In testing on our live site I found a long tag becomes uneditable as I can't scroll right to click the 'x'

This is a shoreditch specfic issue - fine without shoreditch

![screenshot 2018-09-18 14 51 50](https://user-images.githubusercontent.com/336308/45661686-ad0fb400-bb52-11e8-9576-444400a07a9d.png

[2018-09-21 15:29] AkA84 commented on #314
@eileenmcnaughton could you provide replication steps? many thanks

[2018-09-21 15:32] AkA84 commented on #234
I'm curious about this, is civicrm initialized both on wp-admin and on public pages? Does it happen by default on WP or is it something that you are doing? Otherwise i'm not exactly clear how the `custom-civicrm.css` would be injected on the page

[2018-09-21 23:05] eileenmcnaughton commented on #314
steps are to install contact layout editor & configure a profile with the field for 'tags' onto the main summary screen. Create some tags with really long names & try adding & removing them via the new block on the summary screen

[2018-09-21 23:43] christianwach commented on #136
@jensschuppe I agree that Shoreditch is too aggressive in its use of `!important`. Moreover, it should not need to touch any DOM element outside the CiviCRM container. The CiviCRM menu is perhaps an exception, but Shoreditch's declarations should specifically target that and that alone.

[2018-09-24 07:44] jensschuppe commented on #136
Seems like this issue and #234 are duplicates.

@christianwach I agree that Shoreditch's styles should only target CiviCRM markup, which may be tricky sometimes. Consider a Drupal block being placed into CiviCRM pages - this block should maybe not be affected by Shoreditch's styles, although it is placed inside a `body.page-civicrm` element.

[2018-09-24 09:13] christianwach commented on #136
@jensschuppe Yes, pretty much.

I would say that `body.page-civicrm` is outside Shoreditch's scope. It should be restricted to `div#crm-container` (plus the CiviCRM menu `#civicrm-menu` and `#root-menu-div` when viewing CiviCRM pages). CiviCRM blocks have the `.block-civicrm` class, so Shoreditch can target those too whilst leaving non-CiviCRM blocks unaffected.

[2018-09-24 09:49] christianwach commented on #136
@jensschuppe But surely this is the responsibility of the theme? Why would Shoreditch set this?

Again, I don't understand why this would matter to Shoreditch? It should leave DOM elements outside its scope as they are.

[2018-09-24 09:58] jensschuppe commented on #136
@christianwach Because Shoreditch claims, according to the README, to be

which it isn't or can't be without the problems we encountered.

Shoreditch adds styles to DOM elements like the page title, the breadcrumb menu, which are not part of the page content, but theme markup. So, you suggest Shoreditch to do less than it currently tries to, right?

[2018-09-24 10:36] christianwach commented on #136
@jensschuppe Yes, exactly. Shoreditch is a theme for _CiviCRM_, not Drupal, Joomla or WordPress. In my opinion, when it tries to style elements that are not part of the CiviCRM container, blocks or menu then it is exceeding its scope.

[2018-09-24 10:41] marsh-circle opened #319 "Double clicking on save button creates two entities"
This used to be a bug in Civi, but I can't reproduce in the sandbox (

When follwing this workflow (link is for sandbox - proving that it works there):

- goto [a contacts summary page](https://dmaster.demo.civicrm.org/civicrm/contact/view?reset=1&cid=43&key=b22712a26a01774adc4db71629ce8b80_4865&context=advanced)
- go to 'Cases' tab
- hit Create Case
- fill out, but on saving hit the save button m

[2018-10-05 17:51] MegaphoneJon opened #323 "QuickSearch doesn't expand on D8"
I know that Shoreditch isn't currently targeting Drupal 8.  However, I hadn't seen this reported elsewhere, so it's probably unique to my install or others have a workaround.

Clicking the QuickSearch doesn't allow you to type into it - it just presents the dropdown (see screenshot).

![selection_611](https://user-images.githubusercontent.com/1796012/46551393-a8166880-c8a5-11e8-9eac-6f99002db23e.p

[2018-10-18 14:03] sleewok commented on #323
Make sure you have enabled the extension properly. You can point the CSS to the shoreditch bootstrap, but that does not enable other resources. I have only seen this happen when the javascript is not being loaded that handles that functionality. OR it could be related to your version of jQuery. I would check the console debugger.

[2018-10-18 14:13] MegaphoneJon commented on #323
I actually forgot that I posted this ticket or I'd have updated it with what I found.  It's actually a Civi core bug, not a Shoreditch bug.  CiviCRM doesn't currently have a mechanism for adding JS to the footer .  I've [opened an issue](https://lab.civicrm.org/dev/drupal/issues/32) on lab.c.o.

I'm going to close this here - but for others looking for a quick workaround,  you can hack Shoreditch

[2018-10-18 14:13] #323 closed

[2018-10-18 14:14] sleewok opened #327 "Make compatible with SlickNav Mobile Menu Extension"
Extension: https://civicrm.org/extensions/slicknav-web-responsive-admin-menu

With Shoreditch installed/enabled the menu is TINY. I'm guessing it is somehow related to the modification to the inline search on the menu. It would be very nice to either include our own mobile menu, or to make it compatible.

If someone can point me in the right direction I could probably resolve it and submit a pull

[2018-10-23 18:34] sleewok opened #328 "Contribution: Batch Data Entry Horizontal Scroll is BAD"
When using Shoreditch the scrollbar for batch data entry in Contributions is now on div#crm-batch-entry-table. The user has to scroll to the bottom of the table to scroll right/left. When working with dozens of entries this makes it virtually impossible to keep track the current entry line.

Traditionally the batch data entry page spans beyond the max-width of the page, showing the browsers horizo

[2018-10-23 23:06] JoeMurray commented on #328
+1 to concept.

[2018-10-24 16:41] colemanw commented on #327
I know that @lcdservices has that working for his client.

[2018-10-24 16:43] colemanw opened #329 "Responsive collapse of contact summary tabs"
When shrinking down to a small screen I think we could reduce the width of the contact summary vertical tabs and remove the text, leaving just the icons and the count. The tabs already have a "title" attribute so you'll see what they are when hovering.

![screenshot from 2018-10-24 12-40-00](https://user-images.githubusercontent.com/2874912/47446964-61bc7700-d78a-11e8-86fc-38cfe74d201e.png)

[2018-10-24 16:43] colemanw commented on #329
What do you think of this @lcdservices?

[2018-10-24 16:56] lcdservices commented on #327
Yes, we're using slicknav and the menu sizing looks fine.

[2018-10-24 16:58] lcdservices commented on #329
I think it would be preferable to collapse down to a hamburger menu. I'm not sure the icons are distinctive enough, and on a mobile device, the concept of "hover" is rarely useful.

[2018-10-24 16:59] jamienovick commented on #329
I like all the work here but shouldn't these all be in core rather then the theme?

[2018-10-24 19:09] sleewok commented on #327
There must be a difference in your setup. Any ideas? Here is what ours
looks like:

On Wed, Oct 24, 2018, 12:42 PM colemanw <notifications@github.com> wrote:

[2018-10-29 13:15] AkA84 commented on #327
sorry @sleewok but i need some more details, can you provide the usual: screenshots, civi and shoreditch version, cms version, etc

[2018-11-02 11:52] JoeMurray opened #331 "Make textarea labels consistent with other field labels re: vertical position"
The label for text areas is weirdly placed at the bottom of the field. Sort of overly stylish. This is inconsistent with where labels for other fields are placed and thus poor UX. Please make consistent with other fields and vertical align with top of textarea rather than with bottom.

![2018-11-02_07-47-21](https://user-images.githubusercontent.com/300943/47913921-331e5a80-de74-11e8-9592-45eacbd3

[2018-11-02 11:54] JoeMurray commented on #331
It's particularly problematic when there are several textareas in a row intermixed with text fields. Users complain that they end up cursoring into wrong field.

[2018-11-02 13:30] AkA84 commented on #331
@JoeMurray could you leave informations about shoreditch version, civi version, CMS used, etc, thanks. Also if you could point to a couple of different pages where the issues can be reproduced, it would be helpful as well

[2018-11-04 12:30] JoeMurray commented on #331
I've checked on dmaster and don't see the same thing so I will be closing:
![2018-11-04_07-29-18](https://user-images.githubusercontent.com/300943/47964152-73601300-e003-11e8-9e49-360cecd740b4.png)

[2018-11-04 12:30] #331 closed

[2018-11-14 18:11] themak1985 opened #335 "Weird formatting of buttons"
![upgrade screen](https://user-images.githubusercontent.com/28904266/48502893-a9c13d80-e80e-11e8-9fbd-973fb90a7f98.PNG)

So this only happens in a dew areas - particularly in drupal when upgrading CiviCRM - sometimes in public facing pages in Drupal and Wordpress. Using beta 26.

[2018-11-14 18:19] themak1985 commented on #327
![slicknav](https://user-images.githubusercontent.com/28904266/48503314-ca3dc780-e80f-11e8-81e4-d1a4c88cee06.PNG)

Similarly here on Wordpress.

[2018-11-15 18:17] colemanw commented on #327
FYI this issue will be made obsolete by https://lab.civicrm.org/dev/core/issues/487

[2018-11-27 16:44] markcarsonmeuk commented on #230
May be related...
Cannot reproduce the above. However, when I view a CiviEvent Info Page while logged in, the admin toolbar has a height of 60px. This obscures the navbar on the main theme (using Bootstrap).
I have tried changing this, with more design issues resulting.
![image](https://user-images.githubusercontent.com/44549789/49096940-99c04980-f263-11e8-8648-bb17af0f6fca.png)
May result to some

[2018-11-28 15:44] ErikHommel opened #336 "Overdue activities now show up red on the contact summary but not yet on activities dashlet"
The activities tab on the contact summary now shows activities in red when overdue, thanks! However, the core activities dashlet does not yet?

[2018-12-03 20:46] laryn opened #339 "Performance issues due to Shoreditch CSS"
I've been testing Shoreditch on a Backdrop site and really liking the new look. One issue that I've identified: the CSS gets loaded on every page, whether or not it's a CiviCRM page, and whether or not the user has access/permissions for CiviCRM administration at all.

For reference on the difference this makes, I ran a Page Speed Insights report with the Shoreditch CSS selected in the Resource UR

[2018-12-04 11:30] AkA84 commented on #339
hi @laryn this

seems something more related to how CiviCRM handles the "Custom CSS URL" field than to Shoreditch in particular, do you see the same issue if you put any custom css at all?

Also please check https://lab.civicrm.org/dev/core/issues/378 with i think is relevant to what you are reporting here

[2018-12-04 11:32] AkA84 commented on #336
Duplicate of https://github.com/civicrm/org.civicrm.shoreditch/issues/242? (see https://github.com/civicrm/org.civicrm.shoreditch/issues/242#issuecomment-421004845 in particular)

[2018-12-04 12:22] AkA84 commented on #230
@markcarsonmeuk thanks for reporting it, can i ask you to open a separate issue for this with the exact replication steps and info like Shoreditch and CiviCRM version, CMS used, etc? Thanks!

[2018-12-04 12:22] #230 closed

[2018-12-04 19:05] laryn commented on #339
Ah, thanks!

[2018-12-04 19:05] #339 closed

[2018-12-05 15:38] colemanw opened #340 "Remove icons from contact summary tabs"
As of CiviCRM 5.8 the contact summary tabs have icons (based on the [recent styleguide update](https://github.com/civicrm/org.civicrm.styleguide/pull/22)). This will cause double icons unless they are removed from Shoreditch.

[2018-12-05 16:20] JoeMurray commented on #56
I've just reviewed the contrast for text in current version of shoreditch on dmaster and found it non-compliant with WCAG 2.0 AA. See https://lab.civicrm.org/dev/accessibility/issues/11#note_11457

[2018-12-05 16:22] JoeMurray commented on #56
Should I create a separate issue as this is not related to colour choices per se but to the contrast between foreground and background colours.

[2018-12-05 22:03] stesi561 opened #341 "Quicksearch results show offscreen - top of page not view port."
To replicate:

Navigate to a civicrm screen which has enough content such there is enough to require a small amount of scrolling -
This can be achieved from: /civicrm/admin?reset=1
Scroll down the page.
Type a search into the quicksearch bar. Notice that the Civicrm Logo will spin as the search is running then stop after it's finished - however no results are displayed.
Scroll to the top of the pa

[2018-12-12 03:44] colemanw opened #342 "Remove all menubar css and js"
The soon-to-be-in-core [KAM extension](https://github.com/aydun/uk.squiffle.kam) natively implements basically all the things that Shoreditch was adding onto the menubar - lighter color scheme, robust markup, larger size, etc.

I'd recommend we remove *all* menubar-related css and JS from Shoreditch and start from scratch if there are any remaining tweaks to be done.

[2018-12-12 09:13] monishdeb commented on #342
I agree. I faced an issue with q-search icon which is specific to shoreditch custom css changes, after KAM extension is installed:
<img width="860" alt="screen shot 2018-12-12 at 2 29 30 pm" src="https://user-images.githubusercontent.com/3735621/49858837-0454b600-fe1c-11e8-971c-8139901d8db7.png">

I fixed it by removing the css styling for q-search, see [here](https://github.com/JMAConsulting/org.

[2018-12-17 08:53] AkA84 commented on #342
@colemanw do you know, approximately, when the KAM extension will be merged into core? It would be best to remove anything menu-related (or to heavily amend it at least) only after the extension has become part of core

[2018-12-17 14:53] colemanw commented on #342
@AkA84 probably next month, which would set the version at 5.11.
But cleaning up the css/js in this extension and testing it with KAM could happen now. It could even be released now, with KAM declared as a dependency. Once KAM is merged with core that dependency would be automatically resolved, based on some work I'm doing right now on the extension management system.

[2018-12-18 22:22] colemanw commented on #342
@jamienovick @AkA84 The inclusion of KAM in core is looming closer with https://github.com/aydun/uk.squiffle.kam/issues/16 wrapping up. I strongly suggest you get someone to test out that extension with Shoreditch in the next week or so in case there is something critical missing from KAM you'd like to see. Pushing changes into that extension is fairly easy while it remains an extension...

[2018-12-19 16:00] ErikHommel commented on #341
This issue also happens at AIVL using Shoreditch 01-alpha28

[2018-12-21 10:42] AkA84 commented on #342
@colemanw thanks for the heads-up! The ~1w window though is a bit unfortunate given the proximity to the holidays, so I'm not sure that all the necessary (extensive testing, tweaking of the theme to properly add its own look-and-feel to the menu, etc) can be done before I'm back. For consideration: this could be attacked as part of the community efforts (see https://lab.civicrm.org/extensions/shor

[2018-12-21 11:45] mattwire commented on #319
I think this is still an issue in civicrm core rather than shoreditch.  It is *probably* a timing thing and depends on server speed/how quickly the browser submits as I can only reproduce it on certain sites.  Core PR here: https://github.com/civicrm/civicrm-core/pull/13333

[2019-01-02 23:53] colemanw commented on #342
@AkA84 @jamienovick the holidays slowed me down as well so this is getting pushed to 5.12. However several extensions including CiviTutorial and RecentMenu now declare KAM as a dependency (when KAM is merged into core that dependency will automatically be resolved). I think the time is now for ShoreDitch to do the same.

[2019-01-15 23:04] JoeMurray opened #348 "Meet minimum WCAG 2.0 contrast ratios"
https://lab.civicrm.org/dev/accessibility/issues/11#note_11457

[2019-01-15 23:07] JoeMurray commented on #56
Given lack of response and the fact the issues are different though related, I have created a separate issue for contrast ratios at https://github.com/civicrm/org.civicrm.shoreditch/issues/348

[2019-01-17 15:03] caliginous opened #350 "wordpress?"
has anyone got this working in wordpress in production?

[2019-01-31 22:36] themak1985 commented on #350
@caliginous It works with wordpress - but I would not recommend it at this time due to the developers really only focusing on Drupal (not that they don't want to support other CMS's - just only so much capacity).  CiviCRM Admin Utilities is able to restrict a bunch of the shoreditch stylesheets from loading on public pages - which helps - but most of us in the Wordpress CiviCRM world have adopted

[2019-02-01 10:38] caliginous commented on #350
Thanks, I will look into that.

[2019-02-01 10:38] #350 closed

[2019-02-01 18:32] mfb opened #353 "Icons used by line item edit extension don't show up"
When shoreditch custom CSS is in use, the fa-pencil and fa-undo icons used by the line item editor extension are missing - they just show up as boxes.  I am on civi 5.9.1

[2019-02-07 17:08] helenagarcia90 opened #354 "Error when accessing /civicrm/admin/setting/url?reset=1"
In CiviCRM 4.6.10 it throws an error when accessing **civicrm/admin/setting/url?reset=1**:

`Fatal error: Class 'Civi' not found in /var/www/html/drupal/sites/default/extensions/org.civicrm.shoreditch/shoreditch.php on line 146`

[2019-02-07 18:19] MegaphoneJon commented on #354
This extension specifies a minimum version of CiviCRM 4.7, unfortunately.  This error is to be expected.

[2019-02-08 09:19] helenagarcia90 commented on #354
Mmmh.. ok!

We are planning to updgrade the version, but in the meanwhile I think I've found a solution, so I'm gonna pull request it.

Thanks!

[2019-02-14 16:07] colemanw commented on #342
https://github.com/civicrm/civicrm-core/pull/13582 has been opened, targeting 5.12 for inclusion in core.

[2019-02-17 14:37] edvanleeuwen opened #362 "Adjust colours to be compatible with Environment Indicator"
The combination of the theme and the Environment Indicator results in menu items which are only visible when hovered.

[2019-02-20 21:26] eileenmcnaughton commented on #342
I just had this reported to me as an issue by a user after we enabled KAM

[2019-02-21 16:47] #319 closed

[2019-02-23 14:23] #327 closed

[2019-02-23 14:27] colemanw commented on #353
@mfb can you post a screenshot please?

[2019-02-23 14:28] colemanw commented on #362
@edvanleeuwen can you post a screenshot please?

[2019-02-23 15:38] edvanleeuwen commented on #362
Screenshots of my P and T environment (I am using ski track colours for my OTAP: black-red-blue-green).

![covs-p](https://user-images.githubusercontent.com/7131152/53288516-4dfd3d80-3789-11e9-9805-bd2cd2dc1058.jpg)
![covs-t](https://user-images.githubusercontent.com/7131152/53288517-4dfd3d80-3789-11e9-9543-5a478db662b3.jpg)

[2019-02-24 00:29] eileenmcnaughton commented on #241
Ah - this issue has just been pointed out to me - this issue is a big deal in my personal feelings about shoreditch but it seems to not bother our users.

[2019-02-24 20:19] jamienovick commented on #241
Hey guys, I'll see if we can get an updated design done which minimises the wasted space. We have a bit more maturity on the design front now from some lessons learnt which I think we can utilise. Then we can see whats involved in the implementation.

[2019-02-24 20:20] eileenmcnaughton commented on #241
thanks @jamienovick

[2019-02-26 19:07] mfb commented on #353
It looks like the problem is scss/civicrm/common/_buttons.scss is forcing the font for `.crm-container .crm-hover-button` to Open Sans, so you get an empty square rather than Font Awesome icon.

![screenshot from 2019-02-26 10-39-05](https://user-images.githubusercontent.com/3278/53437929-82ecd880-39b3-11e9-8807-65accc40a400.png)

[2019-02-28 14:59] sleewok opened #371 "<div ui-widget-overlay ui-front> blocking Views Dialogs"
Can someone verify that when using views the pop-up for editing is blocked by
`<div class="ui-widget-overlay ui-front"></div>`

It completely blocks the entire user interface.

[2019-02-28 19:31] themak1985 opened #372 "Cancel / save missing from certain edit contibution pages"
First time we have experienced this - but when we go to edit a contribution - of the hundreds we have done - two of them will not load the save/cancel options at the bottom - yet they load fine without shoreditch.

![save-edit missing](https://user-images.githubusercontent.com/28904266/53592892-419c2a80-3b65-11e9-9319-ef9417c38172.PNG)

Following error from console:

`jquery-ui.min.js?pnngni:9 Unc

[2019-03-06 20:37] eileenmcnaughton opened #373 "Dedupe screen colours missing in shoreditch"
The dedupe screen has helpful colour coding without shoreditch

![screenshot 2019-03-07 09 35 35](https://user-images.githubusercontent.com/336308/53911858-858ab480-40bc-11e9-9059-3204a5f5d9fc.png)

With shoreditch it's all white :-(

[2019-03-08 13:57] mikantchap opened #374 "Contact images broken by contact-summary.js when using Drupal 'seven' theme."
CiviCRM 5.11.0
Shoreditch 0.1-alpha28 (required for Mosaico)
Using 'Seven' as the CiviCRM admin theme.
Contact images are briefly displayed on eg civicrm/contact/view?reset=1&cid=22437
contact-summary.js is still loaded from
sites/default/files/civicrm/extensions/org.civicrm.shoreditch-0.1-alpha28/js/contact-summary.js?r=zQ7oF

It appears to move the contact image from
<div id="crm-contact-thumbna

[2019-03-08 15:01] Upperholme commented on #374
I'm seeing this issue with 5.10.x (and earlier versions) using Adminimal as the CiviCRM theme. The contact-summary.js file is getting loaded even though I'm only using Shoreditch for Mosaico.

[2019-03-12 09:25] monishdeb commented on #353
Fixed by https://github.com/civicrm/org.civicrm.shoreditch/pull/360  Closing now.

[2019-03-12 09:25] #353 closed

[2019-03-13 15:18] themak1985 commented on #373
Also - that weird fluctuation with the duplicate address.

[2019-03-13 21:14] rekaeps commented on #110
This issue seems to be still be open and the non-civi side of things still seem to persist, at least on my installation. I know there has been a push in recent months to get Shoreditch moving and I remember reading somewhere on one of CiviCRM's many communication mediums (stack exhange, mattermost, etc) that a lot of lessons have been learned throughout this process. Is there any update on the non

[2019-03-14 14:30] samuelsov commented on #374
I confirm the problem. We are using adminimal as the CiviCRM theme and Shoreditch for Mosaico only.

Caused by https://github.com/civicrm/org.civicrm.shoreditch/issues/215

[2019-03-16 06:19] tapashdatta opened #376 "Extra icon for each tabs and icon missing for contact search result."
<img width="263" alt="Screenshot 2019-03-16 at 06 16 32" src="https://user-images.githubusercontent.com/5366545/54471600-64f4e580-47b3-11e9-91fd-f908e9e2ea32.png">
each tab showing an extra icon next to it.

<img width="124" alt="Screenshot 2019-03-17 at 10 50 43" src="https://user-images.githubusercontent.com/5366545/54562353-c046f380-49be-11e9-8bc2-d522c5b38f6e.png">
Icon Missing for search resu

[2019-03-18 18:09] rekaeps commented on #376
I noticed this, too. Running latest version of CiviCRM and Shoreditch.

[2019-03-19 19:42] lolaslade opened #378 "Cannot install via drush"
I am attempting to install via drush. It may just be due to the version compatibility listed:
Running this:

 (
    [is_error] => 1
    [error_message] => Unknown extension: org.civicrm.shoreditch
)

[2019-03-20 18:31] Upperholme commented on #374
"If the js is blocked the image shows in the correct position." How might I achieve this?

[2019-03-21 21:32] mikantchap commented on #374
In Chrome, inspect => network tab.
Filter so that only JS shows in list.
Reload page => now have list of JS resources
Right click contact-summary.js and use 'Block request URL'
Reload page (but contact-summary.js is blocked from loading)

[2019-03-24 18:16] jptillman commented on #335
From what I can see in the css, this appears to be caused by certain buttons having the crm-button class on them and the civicrm-custom.css file not having precedence over civicrm.css's selectors for buttons with that class.  I have no idea how to fix this without modifying the extension code, but it sure seems like something that has been missed.

[2019-03-27 00:01] eileenmcnaughton commented on #373
These are the relevant rows from core css

[code]

[2019-03-27 01:17] eileenmcnaughton commented on #373
For now I'm managed to restore the usability with a hook

[code]

[2019-03-27 22:42] eileenmcnaughton opened #382 "usability - visual differentiation of primary address lost when turning on shoreditch"
Without shoreditch I can tell which address entry is primary from the view screen - note the bolding

![Screenshot 2019-03-28 11 40 45](https://user-images.githubusercontent.com/336308/55117055-552fb680-514e-11e9-8d78-b0bbe8cff735.png)

With shoreditch I can't
![Screenshot 2019-03-28 11 42 03](https://user-images.githubusercontent.com/336308/55117123-8c9e6300-514e-11e9-9d4c-f66b9a8d87bd.png)

[2019-03-31 15:23] mattwire commented on #295
Closing as I no longer use this CiviCRM theme due to it's incompatibility with drupal bootstrap.  Instead I use https://github.com/mattwire/civicrm-haystacktheme

[2019-03-31 15:23] #295 closed

[2019-04-03 13:26] #340 closed

[2019-04-03 14:00] AkA84 commented on #136
Closed by #381

[2019-04-03 14:00] #136 closed

[2019-04-03 14:01] AkA84 commented on #234
Closed by #381

[2019-04-03 14:01] #234 closed

[2019-04-10 20:00] colemanw opened #385 "Remove crm_spinner__img?"
I noticed that `crm_spinner__img` takes up a huge amount of space in `bootstrap.css` but I can't find anywhere in the code that it's actually used.
What is it for?

[2019-04-11 12:22] Upperholme opened #387 "Changes styling of public-facing event info pages"
I've recently installed Shoreditch on a Drupal 7/Civi site and noticed that the styling of my public-facing event info pages is being modified. I thought Shoreditch was for admin use only?

[2019-04-11 13:36] AkA84 commented on #387
hi @Upperholme , what version are you using?

[2019-04-11 13:49] Upperholme commented on #387
0.1-alpha31

[2019-04-11 13:51] AkA84 commented on #387
@Upperholme thanks, could you attach some screenshots so we can see what part of the styling is being affected? any steps to reproduce the issue would be useful as well

[2019-04-11 14:48] Upperholme commented on #387
First screenshot, with white background, shows an event info page with Shoreditch turned off. Image with non-white background shows the same page with Shoreditch on. Also seeing impacts elsewhere on the site on public-facing pages, notably that enforced padding at the top of the viewport is appearing on my front page at least. This is for a non-logged in user.

![Screenshot 2019-04-11 at 15 42 14]

[2019-04-12 08:33] Upperholme commented on #387
What I'm unclear about is why Shoreditch is having any impact at all on public-facing pages. Why is the stylesheet being loaded on these pages?

[2019-04-12 09:15] jamienovick commented on #387
@AkA84 @Upperholme  I think this may be a combination of issues actually manifesting itself.

1. I believe that CiviCRM does not differentiate between public and private pages in its CSS. In fact all CiviCRM CSS is loaded on public CiviCRM pages in general anyway. They just normally don't have a lot of styling so its less obvious. See here for discussion on this issue: https://lab.civicrm.org/dev/

[2019-04-12 11:05] Upperholme commented on #387
Thanks for the info. I'm not sure what I could offer in terms of moving this forward - this is outside my skill set. Whilst I appreciate that the aim is to build a UI that works across different CMSs, Drupal uses the CiviCRM Theme module to enable different themes to be used for front-end (i.e. public-facing) Civi pages. would it not be possible to leverage that approach as an interim solution? (a

[2019-04-12 11:10] jamienovick commented on #387
@Upperholme  Sorry I updated the gitlab ticket link as it was incorrect.

[2019-04-13 03:31] eileenmcnaughton commented on #342
I have the 5.13 rc on our staging & locally & it just started to look really bad - I'm gonna try the patch above

![Screen Shot 2019-04-13 at 1 29 49 PM](https://user-images.githubusercontent.com/336308/56074122-6f28f480-5df0-11e9-9027-ec768dcea0ec.png)

[2019-04-15 17:21] zkrebs commented on #387
Could we somehow switch it to use default Civi css for public facing pages?

[2019-04-15 18:08] mattwire commented on #387
@jamienovick @AkA84 @Upperholme I suggest you take a look at this PR https://github.com/civicrm/org.civicrm.shoreditch/pull/316 which explains the issues pretty well and offers a good solution.

[2019-04-17 02:52] johncronan opened #388 "The 5.12.1 menu lacks color styling when used with Shoreditch"
This showed up for me after installing 5.12.1. In 5.12.0 there were also menu changes, but this problem with the colors was not present.

I'm not sure whether it's meant to be light or dark anymore!

![Screen Shot 2019-04-16 at 9 47 34 PM](https://user-images.githubusercontent.com/159399/56257312-6dca2700-6091-11e9-9fba-571cc242feca.png)

My Shoreditch version is 0.1-alpha31 and my Drupal version

[2019-04-17 14:37] MegaphoneJon commented on #388
I had the same problem with D8, but doing either `cv flush` or `drush cr` fixed it for me.  However - I think you have a secondary problem in this screenshot that I did - the text in the Quicksearch box is an off-white.  Can you confirm if that's happening for you?

[2019-04-17 18:31] johncronan commented on #388
It's still happening for me after `cv flush` and `drush cr`.

When you type text into the quicksearch it's hard to read, yes:

![Screen Shot 2019-04-17 at 1 29 47 PM](https://user-images.githubusercontent.com/159399/56312071-03f36100-6115-11e9-9eb4-2d8595b8d3a9.png)

[2019-04-17 19:29] MegaphoneJon commented on #388
Sorry to hear that it didn't fix things for you!  Meanwhile, I was able to replicate the off-white issue on a non-Shoreditch site - it's CMS theme-dependent, but separate from Shoreditch so I'll take this elsewhere.

[2019-04-17 20:37] johncronan commented on #388
Oh, okay. Well, this is not a functional issue with the site. I can afford to see if it shakes out in a coming point release, or something like that.

[2019-04-17 21:03] MegaphoneJon commented on #388
@johncronan FWIW, I just submitted a patch on the Quicksearch color issue, and it's already been merged: https://github.com/civicrm/civicrm-core/pull/14080

[2019-04-18 14:40] sleewok commented on #371
https://github.com/civicrm/org.civicrm.shoreditch/blob/c6e0e08120fc834aaede568f21084f90049213d2/scss/bootstrap/overrides/crm/outside-namespace/_ui-select.scss

This is where it is being blocked. Is there any reason to not remove this?

[2019-04-18 14:43] sleewok commented on #371
I created a pull request:
https://github.com/civicrm/org.civicrm.shoreditch/pull/389

[2019-04-19 12:31] colemanw commented on #388
5.12.1 introduced configurable menu colors. With Shoreditch enables you should change the color to white.

[2019-04-19 16:03] johncronan commented on #388
Change it where? I can't find the setting.

[2019-04-19 16:04] colemanw commented on #388
Admin -> Customize Data & Screens -> Display Prefs

[2019-04-19 16:39] colemanw commented on #376
I believe this was fixed by https://github.com/civicrm/org.civicrm.shoreditch/issues/340

[2019-04-19 16:39] #376 closed

[2019-04-19 18:43] johncronan commented on #388
That worked. Thanks!

[2019-04-19 18:43] #388 closed

[2019-04-19 22:10] colemanw commented on #362
Now that a new version of CiviCRM is out the menubar code has been rewritten from the ground up. So this issue is probably not relevant anymore, pending #342

[2019-04-19 22:10] #362 closed

[2019-04-22 17:58] tapashdatta commented on #376
Thanks. I think it's still not fixed yet. I have Updated CSS, uninstall, and reinstalled numerous from github but still have additional icons appearing. Clearing cache also didnt help. What could be the reason please?

[2019-04-23 07:18] tapashdatta commented on #376
I have tested on my production site running CiviCRM 5.11.0, PHP7.1, Drupal 7.x. Also have tested on a clean install CiviCRM 5.12.3, PHP7.1, Drupal 7.x

[2019-04-23 07:18] AkA84 commented on #376
hi @tapashdatta , we haven't released #340 yet (see the [comparison](https://github.com/civicrm/org.civicrm.shoreditch/compare/v0.1-alpha31...master) between the latest release and current `master`).

If you want to use the fix before we release `v0.1-alpha32`, please pull `master` and follow the instructions on https://github.com/civicrm/org.civicrm.shoreditch#installation-gitcli, where it says

[2019-05-06 10:19] jensschuppe opened #390 "Contact summary name field labels invisible due to white font color"
When on the contact summary, while editing the contact name fields, their labels are not visible due to them being rendered with white font color. This is caused by the selector `.page-civicrm-contact-view:not([class*='page-civicrm-contact-view-'])` which does not match the body class of the contact summary page: `page-civicrm-contact-view` (nothing appended with a dash).

Screenshot:
![shoreditch

[2019-05-13 18:41] lolaslade opened #391 "Quicksearch looks weird on 5.13"
Our first test on 5.13 showed some breakage around quicksearch and whitespace on the right side of the menu. This was with Drupal 7.67 and Seven admin theme.

![shoreditch](https://user-images.githubusercontent.com/2320484/57645774-01a5ea80-758d-11e9-904d-5cc863bdd992.png)

[2019-05-14 15:45] artfulrobot opened #392 "Can't read titles in modal overlay dialogues"
![image](https://user-images.githubusercontent.com/870343/57711960-a563c900-7667-11e9-804a-99c46ef6ea32.png)

It's dark text on a dark background.

[2019-05-14 16:06] #392 closed

[2019-05-16 07:31] jusfreeman commented on #391
The workaround is to make the CiviCRM menu white, in the display preferences -> civicrm/admin/setting/preferences/display?reset=1

Thanks @seamuslee001

[2019-05-16 20:58] colemanw commented on #391
This bug has been filed quite a few times so I'm going to close it as a duplicate.
Please see #386

[2019-05-16 20:58] #391 closed

[2019-05-22 17:35] twomice commented on #342
FYI, the display issue mentioned by @eileenmcnaughton [above](https://github.com/civicrm/org.civicrm.shoreditch/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+menu#issuecomment-482772426) is resolved by removing the background-color rule for #civicrm-menu ([see here](https://github.com/twomice/org.civicrm.shoreditch/commit/7257f92d48c72aa3c278af4ca2c31142f2a04618#diff-cfa3de0423d55cd3a3636933b96af45

[2019-05-22 21:07] eileenmcnaughton commented on #342
Cool - I've been adding css through a hook to override shoreditch where it makes me sad - maybe I should include that

[2019-06-03 23:31] eileenmcnaughton opened #393 "package reported to be insecure"
<img width="754" alt="Screen Shot 2019-06-04 at 11 30 31 AM" src="https://user-images.githubusercontent.com/336308/58841025-386aae80-86bc-11e9-98ab-47d8e0a17050.png">

[2019-06-06 23:28] eileenmcnaughton opened #394 "Respond to styling change on admin checkboxes"
Just logging this here to raise awareness of https://github.com/civicrm/civicrm-core/pull/14461

You are officially less-yellow-welcomed - but shoreditch may also need to adjust to the styling change

[2019-06-18 04:11] kelizoliva commented on #110
This is still an issue for me, running v0.1-alpha31 on CiviCRM v5.13.5 on Backdrop 1.14.x-dev. Have unnecessary 60px of top margin, due to the !important. Backdrop native menu is different than whatever menu this is trying to accommodate. Is the !important necessary? Could a more precise identifier be used to ensure that this only affects instances on Drupal?

And this manifests on non-civicrm pag

[2019-06-18 06:40] benasp123 commented on #110
I tried again last week and it's fixed for me.

CiviCRM 5.14.0.
0.1-alpha31

[2019-06-21 16:34] themak1985 commented on #342
@twomice how are you implementing this with alpha31?

[2019-06-21 19:54] twomice commented on #342
@themak1985 I haven't had to face that yet.

[2019-07-04 22:53] netzih opened #395 "white space on top of front-end pages on wordpress"
I'm on Civi 5.14.2 and latest shoreditch on WP and on front end pages I have a white space on top (unless I use CAU to disable shoreditch on front-end pages)

[2019-07-08 19:43] jmcclelland commented on #374
I just pushed a patch so that the contact summary javascript is only pulled in if the site is configured to use shoreditch throughout civicrm.

[2019-07-23 09:22] AkA84 commented on #387
hi @Upperholme I only know managed to get back to this, apologies.

As I wrote in a [comment](https://lab.civicrm.org/dev/core/issues/378#note_20923) that I left on the issue that Jamie previously linked, we made and are still making improvements to prevent leakage of shoreditch's styles on public pages, but this still look like to be mainly an issue with Civi rather than with our theme

Just to c

[2019-07-30 09:02] jensschuppe commented on #390
It's CiviCRM's `contactSummary.css` setting the background color to white and Shoreditch setting the label color tho white (compiled selector: `.page-civicrm-contact-view:not([class*='page-civicrm-contact-view-']) #crm-container form.CRM_Contact_Form_Inline_ContactName .crm-inline-edit-form>.crm-inline-edit-field label`). So, Shoreditch should either set the background to a darker color or leave t

[2019-08-12 14:55] jamie-tillman opened #405 "Can't edit name fields on edit screen"
When a standard user is added to Drupal, no first or last name data is collected unless it's been custom configured.  However, a Civi profile is automatically created with no first or last name data.  When you view such a profile, the header has no name in it (and no indication that there is no name data).  It looks like this:

![image](https://user-images.githubusercontent.com/52583757/62874466-4

[2019-08-12 18:18] jamie-tillman opened #406 "Add Tag button for Tag Sets creates new Tag Sets"
After creating a tag set, if you click the "Add tag" button, a dialog appears that said "New tag set" (not "New tag") and if you complete the dialog and save, a new Tag set is created, rather than a new tag.  It appears that there is NO WAY to add a tag to a tag set anymore due to this bug.

[2019-08-26 13:34] sleewok opened #412 "Menu Visible on Print (Action > Print Selected Rows)"
Printing selected rows from a search result includes the main menu on the print. It should be hidden from printing.

![image](https://user-images.githubusercontent.com/304940/63694488-905d1100-c7e4-11e9-9a39-041e1f9f5f1d.png)

Print Preview:
![image](https://user-images.githubusercontent.com/304940/63694531-a4a10e00-c7e4-11e9-9419-f2c63403ecc2.png)

[2019-08-27 15:41] jamienovick commented on #412
@sleewok have you tested this on vanilla CiviCRM and can you confirm it is not a core issue? Thanks

[2019-08-27 16:37] jamienovick commented on #406
@jamie-tillman have you tested this on CiviCRM without Shoreditch and can you confirm this is not a core issue? Please add screenshots to explain the issue. thanks

[2019-08-27 16:44] #354 closed

[2019-08-27 16:46] jamienovick commented on #56
@JoeMurray Can I close this issue for the time being and we can discuss the contrast separately?

[2019-08-27 16:47] jamienovick commented on #342
Closing as fixed in latest version

[2019-08-27 16:47] #342 closed

[2019-08-29 18:41] sleewok commented on #412
Looks like it is a bug in core. I'll submit it!

[2019-08-30 17:24] jamienovick commented on #373
@eileenmcnaughton fixed in latest shoreditch so closing.

[2019-08-30 17:24] #373 closed

[2019-08-30 17:24] #412 closed

[2019-08-30 17:25] jamienovick commented on #395
@netzih have you tried the latest version of Shoreditch? Thanks

[2019-08-30 17:25] jamienovick commented on #390
Fixed in latest version of Shoreditch so closing

[2019-08-30 17:25] #390 closed

[2019-08-30 17:26] jamienovick commented on #387
Fixed in latest version of shoreditch as this only styles within the CiviCRM container. Note that Drupal users should also install the companion Drupal theme found here: https://github.com/compucorp/shoreditch-companion-d7-theme

[2019-08-30 17:26] #387 closed

[2019-08-30 17:27] jamienovick commented on #382
Fixed in latest version @eileenmcnaughton

[2019-08-30 17:27] #382 closed

[2019-08-30 17:58] netzih commented on #395
I did and it is now working.

[2019-08-30 17:58] #395 closed

[2019-08-30 21:29] eileenmcnaughton commented on #382
thanks @jamienovick

[2019-08-30 21:42] eileenmcnaughton commented on #373
yay

[2019-09-01 13:52] KarinG opened #417 "Fatal error on all civicrm pages installing org.civicrm.shoreditch-0.1-alpha34"
Drupal 8 / CiviCRM 5.15.x
Drupal theme: Barrio/Bootstrap4
Drupal admin theme: Adminimal
CiviCRM admin theme: Seven

**Steps to reproduce:**

`org.civicrm.shoreditch -> org.civicrm.shoreditch-0.1-alpha29 `
all is well

removed 0.1-alpha29 and installed:
`org.civicrm.shoreditch -> org.civicrm.shoreditch-0.1-alpha34`
fatal error (see below)

going back to
`org.civicrm.shoreditch -> org.civicrm.shored

[2019-09-01 14:30] KarinG commented on #417
Got it - saw a note in the readme file -> CiviCRM 5.16.x and up required

[2019-09-01 14:50] #417 closed

[2019-09-08 21:04] joemcl opened #418 "Where and how to enable CiviCRM Theme?"
A requirement is that
```"CiviCRM Theme" module [is] enabled```
but I don't see that as a Component, it's not an Extension listed in the directory, and there is a really old Drupal module listed at https://www.drupal.org/project/civicrm_theme with a note about
```For drupal 7.x this module has been move to CivCRM core and it will be available in CiviCRM v4.0.5 onwards.```
So does this refer to the

[2019-09-08 21:51] seamuslee001 commented on #418
@joemcl it wouldn't i believe it refers to a type of CiviCRM extension see https://docs.civicrm.org/dev/en/latest/framework/theme/

[2019-09-08 23:03] joemcl commented on #418
@seamuslee001 cool, thanks!

[2019-09-10 08:22] joemcl commented on #418
aha, looks like this refers to a Drupal module -
![CiviCRMTheme](https://user-images.githubusercontent.com/3912434/64596793-6de10100-d369-11e9-816a-adcb13ce5253.jpeg)

[2019-09-10 08:34] davialexandre commented on #418
@joemcl yes, that is the module that should be enabled!

[2019-09-10 08:34] #418 closed

[2019-09-10 08:37] davialexandre commented on #160
closing this as shoreditch now uses the new theming system which doesn't rely on the custom CSS URL anymore

[2019-09-10 08:37] #160 closed

[2019-09-10 08:42] #393 closed

[2019-09-11 12:54] Rar9 opened #421 "Get this extension listed in CiviCRM Gui."
It would be nice to get this good extension listed in civicrm extension overview gui for easier adding.

[2019-09-11 21:57] themak1985 opened #422 "Anyone Experiencing Reports not using correct Theme?"
When using Seven (or the new shoreditch admin theme) as default theme, and something else as civicrm public theme - the reports tab will display in the civicrm public theme.

Civi 5.17
Shoreditch v0.1-alpha34

[2019-09-30 22:55] lcdservices opened #423 "unable to collapse/expand dashlets"
Dashlet reports cannot be collapsed/expanded. When hovering over the icon, you are given the move icon and are only able to move the dashlets.

![image](https://user-images.githubusercontent.com/366478/65922608-e14bc080-e3b3-11e9-9006-709516a37e77.png)

[2019-10-01 00:51] lcdservices commented on #423
https://github.com/civicrm/org.civicrm.shoreditch/pull/424

[2019-10-07 13:39] sleewok opened #425 "Critical: Cannot Edit Existing Navigation Menu"
When trying to customize the navigation menu you cannot right click and edit existing items.

This is pretty important loss of functionality.

T**o fix, the z-index needs to be set to 1 for:**

.jstree-contextmenu.vakata-context

[2019-10-07 15:08] jamienovick commented on #425
Please let us know which version of Shoreditch and CiviCRM and base CMS. Thanks

[2019-10-07 17:16] sleewok commented on #425
CiviCRM version: 5.18.1
Shoreditch version: Clone of master on github

[2019-10-21 17:25] sleewok commented on #425
This is sort of a big deal. Any idea when it will be fixed?

[2019-11-05 20:08] jamienovick commented on #348
Hi @JoeMurray sorry for taking so long on this but I'm a bit confused. All the screenshots in the above link are relating to the default CiviCRM theme. What are the specific areas that Shoreditch is not WCAG 2.0 compliant do you have more details?

[2019-11-14 19:49] larssg-wildsight opened #427 "Transparent navigation menu is difficult to read"
The theme is great and a big improvement, but there is one detail in particular that is a downgrade, from my perspective. The transparent menus can make it hard to read the menu items when there is text underneath them. This is a particular problem in the Admin menu or when looking at the Reports menu, as these menus are usually busier. The small degree of transparency in the menus can makes it so

[2019-12-11 06:22] jitendrapurohit opened #428 "Membership Date not completely visible on contact summary page."
Visit any contact having a membership dates set in December(or any month with a long name)

The date fields displayed are not wide enough to show the year in the 3 date fields

![image](https://user-images.githubusercontent.com/5929648/70596390-cabfb200-1c0b-11ea-9825-33853dc37eec.png)

Possibly because the membership dates specify a hardcode `max-width` to these columns?  See https://github.com/c

[2019-12-11 08:03] jamienovick commented on #428
Hi @jitendrapurohit have you tried changing your date formats?

[2019-12-11 08:39] jitendrapurohit commented on #428
Date format value can lower the size of the text displayed in this `<td>` element. So that can work in most cases eg `dd/mm/yyyy`.

Anything we can make sure to handle all the date formats? Given the above `December 11th 2019` format is the default value set by civicrm :)?

[2019-12-19 17:08] colemanw opened #429 "Restore "x" in input type=search"
The "x" inside an `<input type="search">` that most browsers display is missing.
This ha been fixed upstream in Bootstrap 4 with the following patch: https://github.com/twbs/bootstrap/commit/a31468cf84d9ca3be63a21d8a0d2028452e5cc85 (the relevant change being the last line).

[2020-01-01 21:52] tapashdatta commented on #425
I am still having this issue. no context menu loading for navigation. I am on 5.20.3, drupal 7.x
I can see some js error in chrome console

[code]

[2020-02-11 15:37] sleewok commented on #425
Fixed: https://github.com/civicrm/org.civicrm.shoreditch/pull/430

[2020-02-11 15:37] #425 closed

[2020-02-11 15:39] sleewok commented on #427
What transparent menus? I do not have any menus that are transparent.

[2020-02-11 18:59] larssg-wildsight commented on #427
Apologies, this appears to have been on an older version. Had some issues with setting of theme css and was not on the version that I thought I was on.

[2020-02-11 18:59] #427 closed

[2020-03-02 22:46] themak1985 commented on #372
Posting another example of this.
Editing Contribution
![Shoreditch - edit contribution](https://user-images.githubusercontent.com/28904266/75725088-b987be00-5cad-11ea-8626-6d264bceb548.png)

Open edit contribution in a new tab.

![Shoreditch - new tab edit contribution](https://user-images.githubusercontent.com/28904266/75725086-b987be00-5cad-11ea-8652-7f7590f5cf5e.png)

[2020-03-02 23:07] themak1985 commented on #372
Looking at the back end - I can't really find the any abnormalities with this contribution record.

[2020-03-22 04:54] MegaphoneJon opened #443 "Can't view comments on notes with Shoreditch"
On vanilla CiviCRM, you can select a triangle to the left of a note to expand it to show any comments.  With Shoreditch, that's not available and there's no way to view replies to notes.  See screenshots.

### Without Shoreditch
![Selection_846](https://user-images.githubusercontent.com/1796012/77242704-9e86da80-6bd7-11ea-9672-d7d4bf9c0df1.png)

### With Shoreditch
![Selection_845](https://user-im

[2020-05-19 15:40] pbarmak opened #451 "Navigation Menu Right-click not working with Shoreditch enabled"
Using Civi version 5.25.0 and Shoreditch version 0.1-alpha34:
When the Shoreditch extension is enabled and we go to Administer / Custom Data and Screens / Navigation Menu, we cannot right-click on the menu items to get the little popup menu to edit or delete the item.  If we disable shoreditch and use a standard theme (garland, etc), everything works.

It also seems like dragging is not working th

[2020-05-19 15:48] pbarmak commented on #451
Ah, my apologies, it looks like this was resolved by upgrading to alpha37. For some reason, Civi did not notify me that the extension was updated. I updated via git.

[2020-05-19 15:48] #451 closed

[2020-06-09 11:30] samp3 opened #455 "Manage Groups doesn't render properly"
The box width is wrong. You cant see edit button for example. It seems that the box width is tied to the green help message:

Use Groups to organize contacts (e.g. these contacts are part of our 'Steering Committee'). You can also create 'smart' groups based on contact characteristics (e.g. this group consists of all people in our database who live in a specific locality).

Using Google Chrome on

[2020-06-09 12:57] jamienovick commented on #455
Hi @samp3 could you share a screenshot to give us a few more details of the issue?

Could you also confirm the exact version of Shoreditch and CiviCRM you are using?

Many thanks

[2020-06-11 14:34] samp3 commented on #455
![bootstrap_broken](https://user-images.githubusercontent.com/14363137/84399458-8f795c80-ac09-11ea-939e-867e51f92b8d.png)

civicrm: 5.26.1
shoreditch: 1.0.0-beta.1

[2020-06-11 17:19] jamienovick commented on #455
@samp3 Could you clarify:
- Which CMS you are using
- Which CiviCRM admin theme you are using

Also, when you say the "box width is wrong" - which box?

The screenshot above appears to be cutoff for some of the page?

[2020-06-16 13:03] samp3 commented on #455
* CMS: drupal 7.69
* Default admin theme

The screenshot shows the full width of the box the page shows. You cant see the right part of the infromation. It is cut off after "Visibilit...". So for example editin a group is really tedious.

I would assume your window width on bootstrap is locked to the width of the green message since it is exactly as wide as the box. It is just my assumption.

[2020-06-16 18:21] jamienovick commented on #455
Thanks @samp3

Unfortunately CiviCRM (and Shoreditch) are not responsive currently.

Can I ask what display resolution your screenshot is at? I would expect that you would need at least 1280px width for the screen to work appropriately.

Best

Jamie

[2020-06-17 13:05] samp3 commented on #455
1920x1080. Here is full screenshots. That first screentshot is snipped.

![bootstrap_top](https://user-images.githubusercontent.com/14363137/84901500-3d768200-b0b4-11ea-96e4-0e2879e56c44.png)
![bootstrap_bottom](https://user-images.githubusercontent.com/14363137/84901532-46ffea00-b0b4-11ea-9c6e-018411019cf1.png)

[2020-06-17 19:11] jamienovick commented on #455
Thanks @samp3 have you tried setting up:

https://github.com/compucorp/shoreditch-companion-d7-theme

You should set this to be your CiviCRM administration theme in the Drupal theme settings: https://nimb.ws/p2BU1H

Best

[2020-06-19 21:14] mlutfy opened #456 "Do not capitalize text"
There are a few places where Shoreditch will capitalize text using CSS.

* This looks very very weird other languages, who do not use word caps, such as French (and most other languages that I know)
* It's something that should be fixed either in CiviCRM core or in translations.

Example from the Administer > Customize Data and Screens > Custom Fields:

![capitalize-2020-06-19_17-08](https://user-

[2020-06-26 13:36] samp3 commented on #455
My shoreditch companion shows in appereance but it is not located under CiviCRM adminstration theme in Drupal settings. Did I fail the installation. Enabling the theme didnt change anything AFAIK.

![aa](https://user-images.githubusercontent.com/14363137/85862953-211cc880-b7cb-11ea-81a0-1bbbffd1cb12.JPG)

[2020-06-26 13:54] jamienovick commented on #455
@samp3 Your screenshot above doesn't appear to show the CiviCRM administration theme, but only shows the Drupal admin them options.

Have you enabled that module in the Drupal module list?

[2020-06-29 11:11] samp3 commented on #455
Lol I had CiviCRM Theme disabled. Now everything is working as I want to :) Thank you kind sir!

[2020-06-29 11:11] #455 closed

[2020-07-10 15:36] MegaphoneJon opened #457 ""More" menu is hidden on "Scheduled Jobs" screen"
This is with the master branch - if you visit **Administer menu » System Settings » Scheduled Jobs**, the **More** menu next to each job is missing, preventing use of "Execute Now" and similar.

[2020-07-10 19:18] MegaphoneJon commented on #457
The "More" menu is actually hidden on a lot of pages, like "Manage Groups".  I'm running Shoreditch b1, Civi 5.27.1, with the Shoreditch CiviAdmin Companion Drupal theme 1.0 .

[2020-07-14 20:23] ufundo opened #458 "Disappearing included / excluded labels for recipient lists in CiviMail reports"
Have noticed an issue with Shoreditch CSS on top of my bootstrap-based Drupal theme. The labels seem to end up being white text on white background, and they are also centred rather than left aligned, which is weird.

I appreciate this may be caused by conflict with styles in my Drupal theme, but shouldn't Shoreditch "override" these to ensure these labels are visible?

Sorry if this is an unreaso

[2020-07-14 20:39] ufundo opened #459 "Green highlights for installed extensions overridden"
Hi,

Just another fairly cosmetic issue I have noticed, the green highlights for installed extensions on /civicrm/admin/extensions page seem to be hidden by Shoreditch CSS.

screenshot:
![image](https://user-images.githubusercontent.com/6513484/87472963-af40dd80-c618-11ea-903c-0681ee8fa332.png)

desired:
![image](https://user-images.githubusercontent.com/6513484/87473160-f202b580-c618-11ea-890b-ff

[2020-07-16 21:27] MegaphoneJon commented on #457
I did a `git bisect` and traced it back to https://github.com/civicrm/civicrm-core/pull/17295.

[2020-07-17 13:37] mlutfy commented on #456
ping @jamienovick

[2020-07-24 11:17] MikeyMJCO opened #463 "No floating tabs on Drupal 8"
I don't appear to get the "floating tabs" style navigation on Drupal 8 sites.

![image](https://user-images.githubusercontent.com/2288257/88386112-a03ff500-cda7-11ea-9ba9-ff2961913a21.png)

Is this a known issue?

[2020-07-24 11:23] MikeyMJCO commented on #463
Afaik this is what I should have:

![image](https://user-images.githubusercontent.com/2288257/88386514-70ddb800-cda8-11ea-8495-05ecc566f11a.png)

[2020-07-28 15:41] jmcclelland commented on #457
I'm seeing the same behavior.

[2020-07-28 19:52] MegaphoneJon commented on #457
@jmcclelland I haven't had a chance to test - but it looks like #461 might be a solution?

[2020-07-28 20:41] jmcclelland commented on #457
It only took me an hour to get gulp to work properly... but no, that didn't solve it for me.

But I may not be doing it right.

After I apply those changes, the css attributes it removes, remain with the same settings. When I mess with those attributes in inspector I can get the more link to show on the groups page.

I think it's closely related to #461 but how this is handled on the event and con

[2020-07-28 21:02] MegaphoneJon commented on #457
@jmcclelland One of my staff worked on this last week, I thought #461 was a better solution if it worked - but since it didn't, here's a change to core.  I'm not sure if it's been tested on non-Shoreditch installs - been meaning to test it myself but haven't had a moment:

[code]

[2020-07-28 21:09] jmcclelland commented on #457
Thanks @MegaphoneJon - that fix does work for me. I don't fully understand what's going on with all the css (I see the "..." button, but not "more" and not the nice font awesome triangle promited in the git commit you found). But at least it is functional!

[2020-07-28 21:14] jmcclelland commented on #457
![contribution-pages-misaligned](https://user-images.githubusercontent.com/4511942/88722737-bfb38680-d0f5-11ea-92bf-0e3f01df5483.png)

Well... we're still on team functional! But this change makes the event and contribution page links get mis-aligned.

[2020-07-31 20:47] agh1 commented on #457
Please forgive any ignorance you find in this post because I'm not a Shoreditch user personally.  However, it seems to me that the problem is this:
https://github.com/civicrm/org.civicrm.shoreditch/blob/9d71e2974d1db00f0c08f42bfac6cab9d9f78c19/scss/civicrm/common/_base.scss#L118-L123

The text of the "more" is yanked off the screen for whatever reason, presumably because someone didn't like it.  T

[2020-08-07 15:07] chumkui opened #464 "No access to addtional option on Custom data fields"
CiviCRM 5.27.4
Drupal 7.72
Shoreditch 1.0.0-beta.1
Google Chrome

I was trying to delete a custom field today and relalised that there was no option for deletion - all you can do is edit and preview.  I scratched my head a bit and realised that there was no access to the 'more' options on the menu.  All I did was temporarily disable the Shoreditch theme to get the delete option back. I have attach

[2020-08-07 17:24] larssg-wildsight opened #465 "More link for price sets, profiles, recurring contributions, etc not displaying"
The More link for price sets, price fields, profiles, recurring contributions, etc (where the links to disable, delete, copy, settings, etc are found) is not displaying. The link is still there, but it is just a small blank area. It should be three small dots vertically, but it is just a blank area now. Disabling Shoreditch resolves the issue.

Shoreditch 1.0.0 (same issue in 0.33) and CiviCRM 5.2

[2020-08-07 19:05] MegaphoneJon commented on #464
Duplicates #457.

[2020-08-07 19:06] MegaphoneJon commented on #465
Duplicates #457.  @jamienovick This is the fourth ticket on a pretty serious issue - any chance of a fix?  #457 discusses a number of potential fixes.

[2020-08-07 19:33] larssg-wildsight commented on #457
Sorry for the duplicate issue. I'm also seeing that the more menu for contribution pages (which is present) is missing the disable and delete options. Seems like a different issue to me, but I thought I would check that with folks here before making a new issue.

[2020-08-09 10:04] Rar9 opened #466 "Bootstrap 4 / 5 ?"
will there be a Bootstrap 4 or 5 version in the near future?

[2020-08-09 10:09] Rar9 commented on #463
Same trouble with Drupal 9

[2020-08-13 10:57] jitendrapurohit commented on #457
Have noticed the same problem. Fixed by adding a custom css filename ion the ResourceURL page.

    /* Fixes hidden/missing buttons on contribution page r21499 */
    .crm-container span.btn-slide.crm-hover-button {
        text-indent: 0;
        padding-right: 1em;
        width: fit-content;
    }

It seems to re-iterate the first option, so not perfect, but better than not displaying the dots

[2020-08-13 21:51] jmcclelland commented on #457
@jitendrapurohit's css is definitely better then `display: block`, but it didn't work on the Manage Groups page. Here's my variation:

[code]

[2020-08-27 12:24] Detsieber opened #467 "CiviMail: no "more" link in list of mailings"
duplicate to #465

[2020-08-27 12:27] Detsieber commented on #465
Also not displaying in list of mailings.

[2020-08-27 12:27] #467 closed

[2020-08-27 12:31] jamienovick commented on #465
@MegaphoneJon We are working on this currently as the security release is out and should have an update in the next few days. Best

[2020-08-28 07:49] jitendrapurohit opened #468 "Drupal 8 - Overlapping bar in Register an Attendee and Event Configuration"
Register event page - `/civicrm/participant/add?reset=1&action=add&context=standalone` has -

![image](https://user-images.githubusercontent.com/5929648/91535392-b43fbf00-e930-11ea-8606-ee3f015cd1db.png)

and

![image](https://user-images.githubusercontent.com/5929648/91535374-ac801a80-e930-11ea-86a6-fd6a568aa411.png)

Confirmed on 2 d8 sites with the same issue.

On d7, these tabs are rendered co

[2020-09-01 09:13] edvanleeuwen commented on #457
Related https://lab.civicrm.org/extensions/dataprocessor/-/issues/49.

[2020-09-01 10:35] jamienovick commented on #457
Hi all,

Just to mention that we are working on a new release of Shoreditch that will include a fix to this issue. Sorry it's taken a bit of time as we're working to test the entire Shoreditch extension at the same time.

@swastikpareek @rebecca-compucorp

Thanks

J

[2020-09-03 10:02] thomst commented on #457
@jamienovick:
Thank you for working on the fix.
We recently updated the CiviCRM-installations of most of our customers. About 50 customers are affected by this issue. Could you approximately say when you will release the fixed version. It would help us with our customer communication. Thanks a lot.

[2020-09-03 14:04] ivan-compucorp commented on #457
Created a [PR](https://github.com/civicrm/org.civicrm.shoreditch/pull/469) to fix this issue.

[2020-09-03 14:23] marcelocompucorp commented on #464
#469

[2020-09-07 15:20] #465 closed

[2020-09-08 10:14] deepak-srivastava commented on #374
Similar problem with us. Images don't appear at all.

If we block the js/contact-summary.js file from loading OR comment out the code in the js file, image gets displayed fine.

![image](https://user-images.githubusercontent.com/33451769/92463893-4b740480-f1c4-11ea-9f9f-b0ee2823ac44.png)

![image](https://user-images.githubusercontent.com/33451769/92463645-fcc66a80-f1c3-11ea-8fc0-865037fa69b6.png)

[2020-09-08 15:44] marcelocompucorp commented on #457
Hi all,

A new Shoreditch version with a fix for this issue has just been released: https://github.com/civicrm/org.civicrm.shoreditch/releases/tag/1.0.0-beta.2

Cheers,

[2020-09-08 15:45] marcelocompucorp commented on #464
Hi all,

A new Shoreditch version with a fix for this issue has just been released: https://github.com/civicrm/org.civicrm.shoreditch/releases/tag/1.0.0-beta.2

Cheers,

[2020-09-08 16:10] reneolivo commented on #457
Closing this issue since it has been fixed by  https://github.com/civicrm/org.civicrm.shoreditch/pull/469 which has also been released.

[2020-09-08 16:10] #457 closed

[2020-09-08 16:11] reneolivo commented on #464
Closed since this issue has been fixed by https://github.com/civicrm/org.civicrm.shoreditch/pull/469 which has also been released.

Thanks for your help @chumkui

[2020-09-08 16:11] #464 closed

[2020-11-09 22:43] jackrabbithanna commented on #466
+1

[2020-11-10 09:22] Rar9 opened #478 "Cancel Butten formate error"
for Drupal 7 Civicrm 5.31 + last version of shoreditch the **CANCEL Button** on inline edit is missing a border or background color
![Screenshot_1](https://user-images.githubusercontent.com/2239608/98654403-8f0efa00-233e-11eb-8976-eca2fd2715b9.jpg)

[2020-12-03 17:52] larssandergreen opened #480 "Multi-select options have wrong padding in profiles"
In profiles on contribution pages, etc, the multi select options have messed up padding. It appears that the civicrm.css style is being applied, not the custom-civicrm.css style.

<img width="625" alt="Screen Shot 2020-12-03 at 10 38 26 AM" src="https://user-images.githubusercontent.com/25517556/101067635-03f7dd00-3555-11eb-8a7b-7097bfd7e0db.png">

Adding !important to the .select2-search-choice p

[2020-12-03 22:01] themak1985 opened #481 "Editing Profiles from Event or Contribution Pages - Scroll bar does not appear."
When you edit a profile from an event or contribution page while using shoreditch, the scroll wheel does not appear.

In greenwich, which isn't pretty either, scroll bar populates as soon as it is needed. Screenshots provided as an example but it was hard to show that I couldn't scroll lower.

![Screen Shot 2020-12-03 at 4 55 44 PM](https://user-images.githubusercontent.com/28904266/101093650-2277

[2020-12-30 16:03] rbaugh opened #483 "Missing Contribution Page Action Labels"
In #469 there was a fix to add the three dots in place of the "more" menu. But this seems to have a negative affect for the "Manage Contributions" page.  There is an attribute to move the text out of the way, [text-indent -500em](https://github.com/civicrm/org.civicrm.shoreditch/blob/a20762fbcd528f98e6fc1cdeb8d2aef139edaf33/scss/civicrm/common/_base.scss#L122), which causes the options for a contr

[2021-01-13 23:52] themak1985 opened #484 "Dashboard Design since 5.32"
Hey folks, are there any planned changes to dashboard display in shoreditch since introduction of 5.32 - we recently upgraded to 5.33.1 and noticed the change. Not sure if unique to us or an issue.

![Screen Shot 2021-01-13 at 6 47 25 PM](https://user-images.githubusercontent.com/28904266/104526453-6b7f5e80-55d0-11eb-85fa-f5dee26275c0.png)

[2021-01-16 02:51] barbarae opened #485 "Shoreditch extension for clean themeis good except won't display civicrm icons (up,down ...)"
I am using the shoreditch theme on drupal 7.77 civicrm 5.32.2 running on Siteground.com and all is fine except the civicrm icons when selecting a list of options at Options Group .../civicrm/admin/options?action=browse&reset=1.  The civicrm icons will not display and instead I get the following:
2021-01-15T14:32:03.047Z CRM.payment: loaded via DOMContentLoaded
options?action=browse&reset=1:1 Acces

[2021-01-26 08:53] fsnet commented on #463
There are some body tags like `page-civicrm page-civicrm-contact page-civicrm-contact-view` missing in Drupal 9 (and probably 8). Therefore the neccessary styles are not applied to the elements.

[2021-01-26 16:16] fsnet commented on #463
I have written a small helper moduel that provides the missing classes in Drupal 9 (tested with Claro and Gin) and 8 (untested).
The style are now applied and Shoreditch looks as expected in Drupal 9 (and probably 8) – except for some minor glitches which are related to Claro and Gin styles.

[#](https://github.com/fsnet/civicrm_shoreditch_helper)

[2021-02-05 18:22] Rar9 opened #486 "PHP Deprecated: Array and string offset access syntax with curly braces is deprecated"
Since upgrade to civicrm 5.34 for drupal 7 + 9 with php 7.4 I'm getting

PHP Deprecated: Array and string offset access syntax with curly braces is deprecated in /var/www/vhosts/xxx/sites/default/files/civicrm/ext/org.civicrm.shoreditch/shoreditch.civix.php on line 246

[2021-02-16 10:45] Rar9 commented on #486
Any update on this PHP upgrade?

[2021-02-16 19:22] wintermoor commented on #486
This file is Civix generated. You may hot-fix it in line 246 by changing {0} to [0].

See: https://github.com/totten/civix/issues

[2021-02-16 19:39] wintermoor opened #489 "Shoreditch not working after upgrade to 5.35.beta1 - WordPress"
Upgraded to 5.35.beta1 recently and am unable to enjoy my Shoreditch theme (v 1.0.0-beta.4) with my WordPress 5.6.1 anymore. I'm very unsure why, but it is falling back to old-fashioned Drupal standard.

I have good experience with the extension https://lab.civicrm.org/extensions/shoreditchwpworkarounds fixing some CSS-issues, but this is not related with shoreditchwpworkarounds.

Did anyone notic

[2021-02-16 23:06] Upperholme commented on #489
It may be out of date, but the information published at https://civicrm.org/extensions/shoreditch lists Drupal 7 as a requirement, i.e. Shoreditch isn't built for Wordpress?

[2021-02-17 02:17] colemanw commented on #466
I highly doubt it. This extension is deeply coupled to BS3.

[2021-02-17 07:26] wintermoor commented on #489
You are right! But it's running smooth on Civi 5.33 & 5.34 with WordPress. Changing to 5.35.beta1 is breaking it. This information may be helpful to the folks here.

[2021-02-17 16:11] deb1990 commented on #489
@wintermoor +1 . Currently Wordpress is not supported.

[2021-02-19 02:49] JoeMurray commented on #466
Closing as it seems like a separate initiative is needed rather than an issue.

[2021-02-19 02:49] #466 closed

[2021-02-23 08:09] Fabian-SYSTOPIA commented on #425
We are still experiencing this issue in CiviCRM 5.29.1 & Shoreditch 0.1-alpha35. We are using the Shoreditch CiviAdmin Companion Drupal theme 1.0.

[2021-02-23 08:22] tschuettler commented on #425
@Fabian-SYSTOPIA It looks like the fix went into 0.1.0-alpha.36 of Shoreditch

[2021-02-23 08:46] Fabian-SYSTOPIA commented on #425
Thanks, I will update soon and give feedback here.

[2021-02-25 00:05] eileenmcnaughton commented on #484
I've had a customer report this as an issue - it's possible the present on an [empty dashlet](https://lab.civicrm.org/dev/core/-/issues/2420) confused here but I created a civicrm 5.30 build to compare

5.30 (with git master shoreditch)

![image](https://user-images.githubusercontent.com/336308/109082996-e60fd200-7769-11eb-8879-7d6fd3c19383.png)

CiviCRM master branch  (with git master shoreditch)

[2021-02-25 00:13] jamienovick commented on #484
@eileenmcnaughton have replied on mattermost, would be great to chat there. best

[2021-02-25 00:21] eileenmcnaughton commented on #484
Just noting the short version is - Compucorp would love someone to fund them around this

[2021-03-12 21:07] larssandergreen opened #493 "Latest versions not available on CiviCRM extension page"
I had an issue here that it turns out was resolved by upgrading to 1.0.0-beta4. I thought I was on the most recent version as nothing had been added to the CiviCRM extensions page. Possible to add the latest beta to that page so people can find it?

[2021-03-30 10:36] deb1990 commented on #484
This has been fixed in the latest release https://github.com/civicrm/org.civicrm.shoreditch/releases/tag/1.0.0-beta.5

[2021-03-30 10:36] #484 closed

[2021-03-30 18:31] eileenmcnaughton commented on #484
Thanks @deb1990

[2021-04-01 12:22] chumkui commented on #478
There are a few glitches like this one.  I have just upgraded to 5.35.1 and also updated Shoreditch to beta.5.  beta.4+ fixes a couple of issues, but not this one.  This particular issue is still present along with a couple of more troublesome ones like the cases dashboard.

[2021-04-01 16:34] j-p-o commented on #478
I'm on 5.35.1 and ShoreDitch 0.1.0-alpha.36. I also saw a few button problems. I tried fixing them. The result is in the patch in attachment. For what its worth.

[repairing_shoreditch_buttons.patch.zip](https://github.com/civicrm/org.civicrm.shoreditch/files/6245017/repairing_shoreditch_buttons.patch.zip)

[2021-04-12 03:29] yashodha opened #508 "shoreditch is not applied on all civivolunteer pages"
All the menu items of the Volunteers menu created by the extension are not displayed in the correct theme.

The page should be displayed with the shoreditch theme, which is used for all the CiviCRM back-end pages.
For example, when we click on "Manage Volunteer Projects" the page is displayed with the front-end theme.
![Screenshot from 2021-04-09 20:36:10](https://user-images.githubusercontent.com

[2021-04-13 23:30] eileenmcnaughton commented on #493
@mlutfy any idea?

[2021-04-13 23:32] eileenmcnaughton commented on #493
Ah @mikeymjo says it needs manual creation due to the build steps

[2021-04-13 23:33] eileenmcnaughton commented on #493
Listed releases https://civicrm.org/extensions/shoreditch

[2021-04-13 23:58] eileenmcnaughton opened #512 "Another 'white button issue'"
See the 'columns' section here

![image](https://user-images.githubusercontent.com/336308/114635288-83be6100-9d18-11eb-9eb2-79855ffad6c1.png)

But if I deselect the theme setting there is a hidden button

![image](https://user-images.githubusercontent.com/336308/114635328-99cc2180-9d18-11eb-8606-14797afbf129.png)

@reneolivo I think you just pushed a release but I don't think this is covered?

@co

[2021-04-14 00:03] reneolivo commented on #512
Hello @eileenmcnaughton. Will have a look in the morning.

In the mean time, do you have more details about this one? Was this a regression? Has it always been like this? Was this introduced after updating to the latest CiviCRM version?

Thanks a lot for reporting it.

[2021-04-14 00:15] colemanw commented on #512
To clarify, screenshots are from editing a Display within Search Kit.

The button is inside a fieldset's `<legend>` element, in case that detail matters.

[2021-04-14 00:18] eileenmcnaughton commented on #512
@reneolivo the button is new in the 5.37 rc so not a regression but hopefully easily fixed

[2021-04-14 00:20] eileenmcnaughton commented on #512
@reneolivo so to replicate on the 5.37 tarball - you need to
1) enable the search kit extension
2) go to search->search-kit and create a search & save
3) add a display to the search - the button appears in the display window - here is a bigger image of the screen

![image](https://user-images.githubusercontent.com/336308/114636708-c7ff3080-9d1b-11eb-8b7e-24ab9225b304.png)

[2021-04-14 00:21] eileenmcnaughton commented on #493
@reneolivo this will affect the release you are just working on too -  see https://civicrm.org/extensions/shoreditch

[2021-04-14 08:24] deb1990 commented on #493
@eileenmcnaughton thanks for the info.
Could you elaborate on which build steps are causing this?
The Extension page lists 1.0.0-beta.1. But in 1.0.0-beta.2 no new build steps were added https://github.com/civicrm/org.civicrm.shoreditch/compare/1.0.0-beta.1...1.0.0-beta.2.

[2021-04-14 08:53] MikeyMJCO commented on #493
@deb1990 please see https://chat.civicrm.org/civicrm/pl/77bd9zfgwtbejfkqpq6mtd1g7y

[2021-04-15 09:05] #486 closed

[2021-04-15 14:30] larssandergreen commented on #480
[Pull request](https://github.com/civicrm/org.civicrm.shoreditch/pull/514)

[2021-04-16 12:11] deb1990 commented on #493
This has been fixed now, and from now on all releases will be automatically published. All thanks to @mlutfy.

[2021-04-16 12:11] #493 closed

[2021-04-16 13:33] larssandergreen commented on #493
Thanks @mlutfy!

[2021-06-02 14:40] barbarae commented on #485
I fixed this with a file I created under my drupal root called "settings_location.php".

// Create a new file - settings_location.php
// Enter the following code (substitute the actual location of your
// <drupal root>/sites directory)
<?php
define( 'CIVICRM_CONFDIR', 'home/customer/www/jandbweb.jandbwebsite.com/public_html/sites' );
// define('CIVICRM_CONFDIR', 'jandbwebsite.com/jandbweb/public_h

[2021-06-02 14:40] #485 closed

[2021-06-07 19:09] nielosz opened #520 "Theme gets lost every day or at drupal's session end"
Hi all,

I followed the steps to install required drupal modules and latest shoreditch version on latest drupal 7 and latest civicrm.

After that I can see shoreditch as an option in Backend Theme and Frontend Theme setting in /civicrm/admin/setting/preferences/display?reset=1. But I cannot see the extension in civicrm extension screen /civicrm/admin/extensions?reset=1.

cv en enables the theme.

[2021-06-11 12:51] Rar9 opened #521 "php 7.4 - curly braces is deprecated"
drupal 9.1.10 with php 7.4.x

when cv en org.civicrm.shoreditch

I get
PHP Deprecated:  Array and string offset access syntax with curly braces is deprecated in /var/www/vhosts/drupal/web/sites/default/files/civicrm/ext/uk.co.vedaconsulting.gdpr/gdpr.civix.php on line 246

[2021-06-11 14:16] MegaphoneJon commented on #521
You didn't mention your Shoreditch version, but it must not be the latest version.  This was fixed in an April 8th commit, so you can solve this via an upgrade.

The code that needs updating is auto-generated by `civix`, the tool that generates the "skeleton" of a CiviCRM extension.  `civix` has been updated to generate non-deprecated code, but I've had to update over a hundred extensions with the

[2021-06-11 20:41] Rar9 commented on #521
I do git pull from time to time.

Will try civix generate:module
--
Mit freundlichen Grüßen /with best regards,

Robert Krölls
Am Sonnenhof 16
47800 Krefeld

Am 11. Juni 2021 16:16:38 MESZ schrieb Jon ***@***.***>:

[2021-06-14 11:38] Rar9 opened #522 "drupal 9 support?"
I cloned your last git and applied to t civicrm 5.38.0 with seven base theme.

 but it look different to what I see with drupal 7 with bootstrap base theme.

Is this theme actually still compatible?

[2021-06-14 11:52] Rar9 commented on #522
![image](https://user-images.githubusercontent.com/2239608/121887954-b6380a80-cd17-11eb-9cb3-b7e11d610bb3.png)

Yes i have already also installed the  class custom module

[2021-06-14 21:37] nielosz commented on #520
Please dear folks, help me. The theme gets lost every x hours and magically comes back after some more hours.

[2021-06-15 00:23] MegaphoneJon commented on #520
I haven't seen such a thing, and I run a lot of Civi instances.  If I had to guess, I'd say you have a permission problem caused by your cron user not being the same user that your web-facing PHP uses.

Things you can test:
* Does deleting the [templates_c](https://civicrm.stackexchange.com/q/15931) folder restore the theme?
* Does `cv flush` restore the theme?  I'm guessing that `cv en` is helpin

[2021-06-15 12:16] deb1990 commented on #522
@Rar9 As mentioned in the [Readme](https://github.com/civicrm/org.civicrm.shoreditch#requirements), at the moment Shoreditch only supports Drupal 7.

[2021-06-15 12:16] #522 closed

[2021-06-15 12:17] deb1990 commented on #521
@Rar9 Also if you see the error

The error is in `uk.co.vedaconsulting.gdpr` repo, and not in shoreditch.

[2021-06-15 12:17] #521 closed

[2021-06-15 13:13] nielosz commented on #520
Dear Jon, thanks a load for your ideas! I'll give a try and see.

[2021-06-15 13:19] nielosz commented on #520
PHP is run by apache's user in cron, `cv flush` reactivates the theme. I'll check console and network errors in my browser on next fail.

[2021-06-15 15:54] MegaphoneJon commented on #520
You say PHP is run by Apache's user - are you using `mod_php`?  If you're not - say, you're using `php-fpm` - then the PHP user for web requests may be different from the Apache user.

[2021-06-15 18:42] nielosz commented on #520
Yes, I'm afraid it's mod_php :/

[2021-06-15 21:34] nielosz commented on #520
No network nor console errors in FF when theme is autodisabled :(

[2021-06-15 22:01] MegaphoneJon commented on #520
I suggest right-clicking one of the HTTP requests in the Network tab and selecting "Save all as HAR".  Then do the same when the theme is working.  Check if the same files are being loaded each time.

Another idea - make sure CSS aggregation is disabled, and then use "Inspect Element" on the same element both when it's working and broken.  The "Rules" section will show which rules are being applie

[2021-06-16 09:17] nielosz commented on #520
Quite great ideas, thanks, I'll try!

[2021-06-28 10:38] nielosz commented on #520
This is really tricky, but as far as I can see, all references to bootstrap are missing in the html source when the theme is missing.

[2021-07-16 21:29] nielosz commented on #520
Jesses, I found the problem. It turned out to be a function call in a civicrm extension which was located directly in the file and *outside* any function. Seems to have been working for years but now has led to obscure misbehaviour in different modules...

[2021-07-16 21:29] #520 closed

[2021-08-10 14:43] alexmarketaccess commented on #483
To temporarily fix this on my own civicrm instance (Joomla/civiCRM/Shoredtich 1.0.0-beta.9), I updated the css/custom-civicrm.css css from
text-indent: -500em
to
text-indent:-8em
beta

[2021-08-13 12:23] jitendrapurohit opened #527 "Greyed tabs are not clickable"
Page to replicate - Manage contribtuion page -

Configure tab has multiple options, but only few can be clicked. Eg a Membership contribution page will have contribution tab disabled and a user cannot directly navigate to Amount section -

![image](https://user-images.githubusercontent.com/5929648/129356166-9f069f05-cdcb-4489-8985-a6c255922553.png)

This works with default civi css but not with sh

[2021-08-30 08:01] deb1990 commented on #512
@eileenmcnaughton @colemanw This is actually expected behaviour, because the class used in core for the Add button is `btn-default-outline` and that class has white border and white font color.

![2021-08-30 at 1 30 PM](https://user-images.githubusercontent.com/5058867/131306328-98ff38b2-1e05-4fc1-9a0b-96c2eb4117da.png)

So in this case we need to use `btn-secondary-outline`, which will look like

[2021-08-30 08:19] deb1990 commented on #512
PR opened at https://github.com/civicrm/civicrm-core/pull/21315. cc @eileenmcnaughton @colemanw .

[2021-08-30 11:48] colemanw commented on #512
Thanks. I've merged that PR into core, but I still think the Shoreditch style is problematic - with the current color choice in Shoreditch the button is completely invisible on a white background, and very hard to read on a grey background as in your screenshot.

![2021-08-30 at 1 30 PM](https://user-images.githubusercontent.com/5058867/131306328-98ff38b2-1e05-4fc1-9a0b-96c2eb4117da.png)

[2021-08-31 06:24] deb1990 commented on #512
@colemanw In bootstrap 3, the concept of outline buttons are not present. This was added in Shoreditch. Now, in bootstrap 4 or 5, outline buttons are present, and the main color of the button type is used as the border and font color for the outlined version.
For example, if Primary button has blue background, Primary Outline button will have blue border and font color. So similarly the buttons ar

[2021-08-31 10:18] swastikpareek commented on #512
@deb1990 :
I think that -3 "**We remove the btn-default-outline completely**" is not the right way to go forward, because if we remove `btn-default-outline` then other button outline classes needs to be removed too in order to keep things consistent. If we just remove `btn-default-outline` we creates inconsistency in button outline classes. In future it could create a confusion that why only the d

[2021-08-31 12:13] jamienovick commented on #512
@colemanw @eileenmcnaughton

I think the real problem here is that we have a somewhat incomplete visual design language for Shoreditch with an unfinished styleguide. As such there are likely a) issues with the current implementation (i.e. default buttons are white that are not legible in panels which should be white) but also b) a lack of clarity over how different elements should be used to creat

[2021-09-01 05:10] deb1990 commented on #512
Agreed @jamienovick .
So instead of doing to quick fix for the Default Outline button we will review the designs once more to find out similar cases and also to build an examples/kitchensink page. So for the time being lets use `btn-secondary-outline` class, and we will get back to this soon.

[2021-09-02 09:19] hansrossel opened #529 "Tables in dashlets have a wrong display because of .label class should not be applied to td.label"
[code]
is causing that tables in dashlets look wrong, td are compressed to the left side as very small columns.

Solution:

- or the too general .label definition should be more specific
- or for tables with td.label it should be overridden, so they get their normal behaviour again
[code]

[2021-09-08 07:05] Rar9 opened #530 "Drupal 9 Create New Record block not clickable"
![image](https://user-images.githubusercontent.com/2239608/132462211-56fa6660-ef48-4aab-b5fb-e696329bbf29.png)

Please fix for Drupal 9 with Seven Theme so the Create New Button will work again
Z-index is wrong and some white background would be great.

[2021-09-22 17:53] jmcclelland opened #531 "reply-to drop down does not fully appear"
When you have the "Enable Custom Reply-To" configured (via CiviMail -> Mailer Settings), the drop down box disappears:

![reply-to](https://user-images.githubusercontent.com/4511942/134395089-03d8a469-825d-4d0f-aed6-84142d826760.png)

The code and css is identical to the code/css for the From address *except* the From address has a default value that populates it. The default value holds the heigh

[2021-09-29 08:02] jitendrapurohit commented on #374
Can replicate the same error on

Drupal 9.2.6
CiviCRM 5.41.1
shoreditch 1.0.0-beta.9

The reason seems to be the body class missing from D8 CiviCRM, eg, I see `page-civicrm-contact-view` class is added on the body of contact summary page in civi. This class is used to customise most of display in `custom-civicrm.css`

Since the class is missing from D9 sites, none of these css style work.

A quick

[2021-11-18 00:19] netzih opened #532 "Remove grey background from public pages"
I have shoreditch set as my frontend theme but I want to remove the background grey color and just keep the background transparent.
How can I do that?

[2022-02-03 19:17] themak1985 commented on #372
Bumping as this is still an issue.

[2022-02-11 21:38] wzachtaylor opened #534 "Styling issues on Searchkit List Display"
We are currently running CiviCRM 5.41.2 and using **Shoreditch 1.0.0-beta.9** with **Shoreditch CiviAdmin Companion Drupal theme** as the admin theme. I used a SearchKit List Display and Afform to create a new tab on the a contact page. The idea is that we could use this as a bottom-shelf landing page for some of our users. This display would allow them to view/edit only a few necessary fields (na

[2022-02-11 21:41] wzachtaylor commented on #534
Shoreditch theme was downloaded from https://civicrm.org/extensions/shoreditch
Admin theme was downloaded from https://github.com/compucorp/shoreditch-companion-d7-theme

[2022-04-06 08:58] jensschuppe commented on #463
This seems to be fixed in [CiviCRM 5.45](http://m.autoflipr.com/civicrm-545-release.html) with civicrm/civicrm-drupal-8#68.

[2022-04-21 20:54] laryn opened #539 "Backdrop compatibility"
I've noticed some of the styling doesn't come through on Backdrop when Shoreditch is installed. For example, when viewing a contact, the tabs do not stack on the left, as they do on Drupal 7.

I found that Backdrop does not add as many classes to the `<body>` by default, and adding this to the CiviCRM administrative theme's `template.php` goes a long way towards getting things styled as expected:

[2022-05-04 18:34] laryn commented on #539
Cross-reference: https://lab.civicrm.org/dev/backdrop/-/issues/9

[2022-05-07 15:20] jshrek opened #540 "Installing extension on WordPress is unclear"
So I have downloaded the plugin and uploaded to the /wp-content/uploads/civicrm/ext/ directory, and renamed the folder to shoreditch

When I go to Administer Extensions and Refresh, I do not see Shoreditch anywhere.

I do see that CiviCRM Bootstrap Theme is added to the extensions list.

(Q1) how do I enable the Shoreditch extension?
(Q2) am I required to use the Bootstrap Theme?
(Q3) are there an

[2022-05-08 16:35] Upperholme commented on #540
There's no need to rename the directory.
If you can see CiviCRM Bootstrap Theme in your extension list then all you need to do is enable that extension. CiviCRM Bootstrap Theme = Shoreditch.

[2022-05-08 16:57] jshrek commented on #540
Ahh okay I see ... that is a little confusing for noobs like me...

Can you add ShoreDitch to the name?
Shoreditch CiviCRM Bootstrap Theme

Thanks

[2022-05-26 14:57] chaplincircle opened #542 "Report filter drop down values not fully visible"
![image](https://user-images.githubusercontent.com/104565780/170514883-f9135b36-4292-4ad8-95dd-a893f1ed27d2.png)

[2022-05-26 17:52] jamienovick commented on #542
@chaplincircle could you share:
- CiviCRM version
- Shoreditch version
- CMS version
Many thanks

[2022-05-27 08:25] chaplincircle commented on #542
CiviCRM 5.47.4
CiviCRM Bootstrap theme 1.0.0-beta.10
Drupal Version 9.3.13

I know it's not the latest version of Shoreditch but the problem CSS is the same in the latest version
https://github.com/civicrm/org.civicrm.shoreditch/blob/master/css/custom-civicrm.css

[2022-06-18 00:01] netzih commented on #532
Seems to have been connected to CAU plugin not Shoreditch

[2022-06-18 00:01] #532 closed

[2022-06-23 18:27] chrisgaraffa commented on #483
Putting this in custom.css seems to resolve it for us, and targets it specifically to this page.

[code]

[2022-10-08 11:59] #421 closed

[2022-10-18 13:53] Detsieber opened #548 "Event registration in back office: checkbox not usable"
See screenshot!

![2022-10-18_15-50](https://user-images.githubusercontent.com/5758623/196449307-592fc12c-1546-47a8-9fb4-e29c7094bc44.png)

[2022-10-18 17:21] MegaphoneJon commented on #548
@Detsieber I had this problem on D9 with the "Seven" theme, but not with the "Seven Roundearth" theme.

If you're not on D7, Compuco won't provide a fix here, but they might be willing to review a PR.  Note that the core team maintains a [D9-compatible fork](https://github.com/coopsymbiotic/shoreditch/tree/symbiotic) for CiviCRM Spark, but I haven't tested if the problem is present there.

[2022-10-24 10:44] wintermoor commented on #489
Is working with 5.53.0 now. I'm using https://lab.civicrm.org/extensions/shoreditchwpworkarounds for better integration to WP.

[2022-10-24 10:44] #489 closed

[2022-11-29 15:22] jojowork commented on #468
We are facing similar problems with _Legend_ Elements overlapping the actual content on Mailing Reports:
<img width="1034" alt="Mailing Reports Legend Element Overlap" src="https://user-images.githubusercontent.com/40828981/204568609-0bd857e9-428e-42eb-a15f-b78de582a06a.png">
I did some investigation and the problem seems to be caused by this CSS-Code:
[code]
The ```position: absolute;``` seems to

[2022-11-30 16:02] abugey commented on #468
A similiar problem occurs

- when trying to modify settings to send emails to event participants. Checkbox is not visible.

- on the page` /civicrm/admin/setting/smtp`

![Bildschirmfoto vom 2022-11-30 16-57-30](https://user-images.githubusercontent.com/74647508/204846658-c614942b-9868-4d01-b4ab-73c1d41eee7a.png)

[2022-11-30 23:46] MegaphoneJon commented on #468
@jojowork @abugey Compuco does not support Shoreditch on any CMS except D7.  I recommend using this fork instead: https://github.com/coopsymbiotic/shoreditch.git.  I believe this is the fork used by CiviCRM Spark, so it gets quite a bit of use.